[2017-02-08 06:56] sugun999 opened #607 "container-to-container communication with flannel is slow"
Hi,

I have setup kubernetes with coreOS using flannel overlay networking for pod-to-pod(docker container-to-container) communication.
But I noticed that response is very slow for http requests which requires one pod/container need to communicate with other.

Followed this doc for kubernetes multinode setup on coreOS with docker container:
https://coreos.com/kubernetes/docs/latest/getting-started.

[2017-02-08 14:13] qianzhangxa opened #609 "Container can not be accessed by another Docker host"
Hi,

I have two hosts which have Docker (1.13.0) integrated with Flannel (0.5.5):
[code]

There is a container running on host1 whose IP is 10.1.89.2, I can ping it from host1, but I can not  ping it from host2 or from any containers in host2.

Here is the output of tcpdump in host1 when I ping 10.1.89.2 from host2:
[code]

And there is no any output of `tcpdump -nni docker0 icmp`. So it seems the

[2017-02-09 17:47] tomdee commented on #607
Could you share a little more detail? In what way is it slow?

[2017-02-10 07:24] lipixun commented on #603
I met exactly the same issue, why this issue is closed without any further information or comments? thx.

[2017-02-10 07:37] lipixun commented on #603
After I downgrade docker to 1.12.0 (and reboot the system), things go right. I have no idea why 1.13.0 doesn't work.

[2017-02-10 21:30] rosenhouse opened #610 "Feature idea: on startup, read subnet.env and attempt to acquire that lease"
### Background

We are concerned about preserving network connectivity for containers in the face of etcd outages and data loss.  For example, during upgrades of etcd, Cloud Foundry users have encountered various "split-brain"-like scenarios.   These scenarios are most easily resolved by stopping all etcd nodes, removing all the data directories, and finally restarting all the nodes.  But CF users

[2017-02-10 23:21] bnevis-i commented on #322
Docker 1.13 also broke inter-container communications across hosts (https://github.com/docker/docker/issues/30338)

[2017-02-10 23:23] bnevis-i commented on #325
Docker 1.13 also broke inter-container communications across hosts (https://github.com/docker/docker/issues/30338)

[2017-02-11 05:28] bobonovski commented on #603
@lipixun Sorry for closing this issue, because I found out later that it was not the problem of flannel 0.7.0. Currently, I can use flannel 0.7.0 with docker 1.13.0. I fixed the issue like this:
1. reset iptables
2. reboot
3. start flannel 0.7.0
4. start docker 1.13.0 with DOCKER_OPTS pointed to flannel bridge net

then it works!
so I guess it's all because of the weird behavior of iptables

[2017-02-11 05:29] #603 closed

[2017-02-13 10:04] CocaCola183 commented on #604
@tomdee Thanks for response.

I thought my system should support vxlan after read this: http://docs.cloudstack.apache.org/en/latest/networking/vxlan.html#check-the-capability-of-your-system

I think flannel should give some more advise about Kernel version, there is no specific error info when I use, after all.

[2017-02-13 14:29] TamalSaha commented on #535
This issue is fixed for me with v7.0 .

[2017-02-13 14:29] #535 closed

[2017-02-14 15:47] stongo opened #611 "Add checks for Subnet Conflict with existing host interfaces"
I discovered a way to totally break a hosts interface when setting flanneld subnet in etcd

## Steps to reproduce

Create drop-in for flanneld, setting the same subnet in `Network` property as an existing subnet the host is on

[code]

Start flanneld and hope the subnet doesn't affect the interface you've SSHed through.

Discovered this accidentally when my CoreOS machine would appear to freeze as

[2017-02-15 07:36] sugun999 commented on #607
Hi,

After disabling ipv6, it works now fast.

Hence closing this ticket

[2017-02-15 07:36] #607 closed

[2017-02-16 13:32] adaiguoguo commented on #609
`sudo iptables -P FORWARD ACCEPT` fix this
[Docker change log ](https://github.com/docker/docker/pull/28257)

[2017-02-16 13:33] adaiguoguo commented on #603
@lipixun
`sudo iptables -P FORWARD ACCEPT` fix this.
[Docker change log ](https://github.com/docker/docker/pull/28257)

[2017-02-16 14:16] qianzhangxa commented on #609
It works, thanks @adaiguoguo !!!

[2017-02-16 15:49] lipixun commented on #603
got it, thanks @adaiguoguo @bobonovski

[2017-02-16 17:23] xiaoping378 opened #612 "question; how to set the cni cidr make one node run 1000+ pods"
flannel config:
![image](https://cloud.githubusercontent.com/assets/5623173/23031589/82580c4e-f4ac-11e6-915a-a26ea6cf1cc0.png)

i have set  "--allocate-node-cidrs=true",  "--cluster-cidr=10.244.0.0/12" in kube-controller-manager,

but ``ip a show cni0`` , the inet scope shows 10.240.0.1/24, so can only run 255 pods,
when scale 1000 pods, the log say "Error adding network: no IP addresses available

[2017-02-17 01:26] xiaoping378 commented on #612
i found the code ， so can't make number of pods larger then /24 ?
[code]

[2017-02-17 07:47] intsilence commented on #609
Same problem here, worked with @adaiguoguo , thanks very much!

[2017-02-17 08:22] PengTaoWW opened #613 "Ingress flannel0 not route traffic to docker0"
2 node:
node 1 : 10.236.64.154
node 2:  10.236.64.156

step 1:  start etcd
run in  node 1:
    ` etcd -name node1 -initial-advertise-peer-urls http://10.236.64.154:2380   -listen-peer-urls http://0.0.0.0:2380   -listen-client-urls http://0.0.0.0:2379,http://127.0.0.1:4001   -advertise-client-urls http://0.0.0.0:2379   -initial-cluster-token etcd-cluster   -initial-cluster node1=http://10.236.64.15

[2017-02-19 15:23] Dieken opened #615 "flannel 0.7.0 docker image with aws-vpc backend failed to request AWS api (SSL issue)"
Similar to #302,  https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml uses quay.io/coreos/flannel:v0.7.0-amd64, this docker image doesn't have /etc/ssl/certs so flannel can't verify AWS x509 certificate.

I bypassed the issue by this patch on Ubuntu 16.04:
[code]

I remember different Linux distributions have different path for that directory "certs",  so it's be

[2017-02-20 03:20] PengTaoWW commented on #613
i found miss iptables setting , need add iptable forward table

[2017-02-20 03:20] #613 closed

[2017-02-20 17:44] jkong85 commented on #415
Is this problem fixed?

[2017-02-21 07:24] wb14123 commented on #105
Hi,

I've had this problem twice and have both found the problem.

The first time is using EC2 and the default safe group didn't open UDP ports. After open them, it works.

The second time is in our own cluster. The first net interface is bind to public IP and have firewall on it. The second interface is used to communication with other hosts in the cluster. Flanneld uses the first interface's IP

[2017-02-22 03:06] rosenhouse commented on #612
@xiaoping378 I think you're mis-reading this code -- the `Network.PrefixLen` is for the whole network -- in your case `/12`.  If you've configured things correctly, you shouldn't even get to that conditional.  Instead you should end up [here](https://github.com/coreos/flannel/blob/ff46071357208d25d36d9907a5f6dbd8200f3d1b/subnet/config.go#L57).

Are you sure you've installed that Network config in

[2017-02-22 03:28] rosenhouse opened #616 "Healthcheck endpoint"
As an operator, I would like to be alerted if my `flanneld` is unable to connect to etcd.

Currently, if flannel loses its connection to etcd, it prints error messages to stderr but does not fail.

I could write some tooling to process those logs and alert me if certain strings are printed.

But I'd rather have some kind of healthcheck, e.g. I set up a script to periodically `curl` a special endpo

[2017-02-22 04:49] xiaoping378 commented on #612
@rosenhouse i am using flannel-v0.7.0, it's configration is net-conf.json, i have set the ``SubnetLen`` as the first picture,  but it didn't work.
can you type your ``coreos.com/network/config`` ?

[2017-02-22 05:03] rosenhouse commented on #612
@xiaoping378 :

[code]
shows
[code]

[2017-02-22 05:13] rosenhouse commented on #612
For reference, the `flanneld` stderr logs show
[code]

And the `subnet.env` file (defaults to `/run/flannel/subnet.env`) shows:

[code]

[2017-02-22 08:02] Sartner opened #617 "vxlan mode not work on centos6 ?"
I have 2 server one is Centos6.7 and the other is Centos7.2
I installed flannel on them and then create the net bridge.
But only centos7 works well, CentOS6 can't access any other hosts when using flannel network

[code]

* create net bridge
[code]

*  Flannel config on etcd
[code]

* OS infomation on Centos6
[code]

flannel version: 0.7.0
OS version: Centos6.7

[2017-02-22 09:36] cizixs commented on #587
Need this! Before the official documentation is out, is there any link/doc I can read to set this thing up?

[2017-02-23 08:07] niyanchun opened #619 "connect issues across nodes"
I have deploy flannel on two nodes(A and B)，then I create two containers on every node, network from A to B is OK, but B to A is not OK.

my configuration is below：

OS: Ubuntu 16.04.1 with virtualbox

etcd:

[code]

flanneld:

[code]

IP:

[code]

Node info:

[code]

I have make some test:

1.  ping docker0 across nodes is ok.
2. On Node2，ping container's IP 10.1.68.5 on Node1  is ok, but On Node

[2017-02-24 01:58] tomdee opened #620 "Support more flexible --iface option to ease flannel use in Daemonset"
We could allow the `--iface` option to appear multiple times or maybe even allowing a regex.

Originally raised by user on mailinglist

[code]

[2017-02-24 07:35] niyanchun commented on #619
I have find the problem, iptables drop packet from flannel0 to docker0.

[2017-02-24 07:35] #619 closed

[2017-02-25 06:35] Agrosis opened #621 "flannel node allocating a new subnet every 24 hours"
Hello,

I'm running a Kubernetes cluster with flannel as an overlay network, and it works like a charm! Awesome work!

flannel is supposed to renew a lease for the allocated IP on the overlay network for the machine its currently running on. In my setup, after ~24 hours, flannel seems to be just leasing a completely new allocated IP on the network, and using that instead. That breaks container net

[2017-02-27 03:46] felixsanz commented on #158
@eyakubovich Sorry for bumping this old issue but since the service has `After=demo_web.service`, is that not enough to avoid "since it takes a bit for container to start..." ?

The discovery service should always get the main service container IP, i'm wrong?

[2017-02-27 07:00] guanjunding opened #623 "vxlan network flannel.1 lost packets sometimes"
We have used this solution on the production line,  More than 30 running docker instance .
Recently we found that several nic flannel.1  of servers drop the packets sometimes, and then I carried out the following checks, but I did not find anything unusual:

$ sar -n EDEV  1
11:25:46 AM     IFACE   rxerr/s   txerr/s    coll/s  rxdrop/s  txdrop/s  txcarr/s  rxfram/s  rxfifo/s  txfifo/s
11:25:46 AM

[2017-02-27 07:59] #623 closed

[2017-02-28 07:15] ZChunnian opened #624 "flannel high memery usage"
Hello,
        I'm running a Kubernetes cluster 1.5 with flannel as an overlay network the cluster only 11 kubernetes node flannel version v0.7.0
        The beginning of flannel can work properly, memory usage is normal, with the addition of kubernetes nodes, routing nodes also began to grow, but there has been an error
kubernetes node only flannel
[code]
and kept repeating similar errors

Then f

[2017-02-28 11:20] fulltopic commented on #617
I got the same issue:  fedora 25 KVM/flannel 0.7.0.
More information

{
    "Network": "10.16.0.0/16",
    "SubnetLen": 24,
    "Backend": {
        "Type": "vxlan",
        "VNI": 1
     }
}
[root@fed-master ~]# etcdctl get /coreos.com/network/subnets/10.16.28.0-24
{"PublicIP":"192.168.122.238","BackendType":"vxlan","BackendData":{"VtepMAC":"8e:b1:87:76:66:7d"}}

Feb 28 03:24:48 fed-node1 systemd

[2017-03-01 00:31] rosenhouse commented on #616
Ping @lxpollitt.  We're probably going to implement this in some form on a fork in order to support integration with Cloud Foundry.  Any input you have would be appreciated.

[2017-03-01 22:25] laverite commented on #604
I am seeing the same issue with centos 7.3 (kernel 4.9.13), flannel (0.5.3 | 0.5.5) and docker (1.12.6 | 1.13.1) using vxlan.  I did not have this problem with centos 7.2 but I'm not sure why and I'm not sure how better to debug this.

If I ping between two pods that are on two different hosts, I see traffic hitting the destination flannel.1  interface, but don't see it getting through to docker0.

[2017-03-03 23:20] Grvmm opened #626 "Flannel-wrapper unable to resolve UUID"
After installing coreos (stable, beta and alpha) I can't start flanneld.service because of the dependency flannel-docker-opts.service fails. It's giving an error about

I'm new to coreos and am trying to install kubernetes on it; for that I have a separate etcd cluster stood up with SSL certs for them. I have an etcd proxy on the image up and running but flannel wont start for docker to run.

I'm

[2017-03-04 00:50] euank commented on #626
The `flannel-docker-opts.service` unit contains the line `ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/lib/coreos/flannel-wrapper2.uuid`.
The `-` at the beginning of that means that an error will not cause the unit to fail and will be effectively ignored.
It's expected that that message is printed the first time the unit is run and it should be harmless.

I think flannel-docker-opts is having tr

[2017-03-04 01:07] Grvmm commented on #626
Well thanks for explaining that and for the quick reply.  I'll stop by work tomorrow to check it out more but what I noticed on boot right after I log in it gives me something about a service failed to start like

So when I tried checking the logs and everything seemed to be alright up to the point when flannel starts.   It seemed to me that the first thing it does is try to start the opts service

[2017-03-06 17:42] philips opened #627 "AWS: flannel on AWS VPC fragmentation dues to MTU?"
People have been complaining about VXLAN performance on AWS when not using a network optimized instance. I haven't measured this but I talked to a partner engineer at AWS and he mentioned we should try and increase the MTU size of a VPC and see if that resolves the issues on non-network optimized instances.

[2017-03-08 00:55] philips commented on #621
How are you running flannel? Are you using the etcd or kubernetes backend?

[2017-03-08 02:21] tomdee commented on #624
@ZChunnian Are you using the host-gw backend?

[2017-03-08 02:29] tomdee commented on #624
This seems like a pretty good bug! My initial guess would be that something is going wrong in https://github.com/coreos/flannel/blob/master/subnet/watch.go#L30 - maybe the clocks on the servers are out of sync? ( @ZChunnian could you check this?). This is causing too many events to be sent to handleSubnetEvents()

And then memory is being leaked because even through the route has already been seen

[2017-03-08 03:51] Aleishus commented on #624
I met the same problem by using  the host-gw backend.I think your guesses is right and fix it soon!

[2017-03-08 03:51] Aleishus commented on #624
I met the same problem by using the host-gw backend.I think your guesses is right and fix it soon! @tomdee

[2017-03-09 01:51] tomdee commented on #602
Fixed by #606

[2017-03-09 01:52] #602 closed

[2017-03-09 06:38] Agrosis commented on #621
Sorry I didn't specify in the original issue, but I'm using etcd as the backend. So, since then, I found the flannel reservations features in 0.7.0, so I've upgraded to that and just set the TTL of the subnet key to 0, and I haven't had any problems since then. Haven't tried out the auto-renew mode on 0.7.0 yet to see if it works, but let me know if you want me to dig into this more.

[2017-03-09 17:08] tomdee commented on #616
Sounds useful to me.

[2017-03-10 07:19] ravilr commented on #554
https://github.com/coreos/etcd/issues/7406 confirms that `etcdctl migrate` leaves the existing v2 data as-is.

[2017-03-12 14:44] yangyuqian opened #635 "Question on the internal of flanneld"
Hi,

I've been researching and evaluating flannel for my production environment(some Bare Metal hosts), and found Flannel is great for us, thanks for the work.

Then I tried to understand the internal of vxlan backend through creating a vxlan network manually with `iproute2`, but it doesn't work until I start a flanneld on each node by

[code]

Did I miss anything here?

# My Lab which is still fa

[2017-03-12 16:17] Dieken opened #636 "network between kubernetes PODs is down after one flanneld is stopped and datastore can't be reached"
I'm experimenting kinds of failure in kubernetes cluster,  I found a strange problem.

My steps:
1. start 4 nodes kubernetes cluster with kubeadm and vagrant, use flannel vxlan for network among PODs.
2. stop all etcd containers so that kubernetes apiserver stops working -- expected.
3. suppose node01 (192.168.200.201) with POD cidr 172.16.0.0/24,  and node04(192.168.200.204) with POD cidr 172.16.

[2017-03-12 17:36] Dieken commented on #636
bad network from container on node01 to container on node04, iptables trace in /var/log/syslog on node04:
[code]

good network from node01 host to container on node04, iptables trace in /var/log/system on node04:
[code]

[2017-03-13 02:29] Dieken commented on #636
The network topology:

![image](https://cloud.githubusercontent.com/assets/2365/23839283/dffe32f4-07d7-11e7-8ada-6320f0138895.png)

[2017-03-13 12:57] #635 closed

[2017-03-13 13:31] Dieken commented on #636
I got it. When flanneld on node04 stopped and couldn't start because kubernetes apiserver couldn't work without Etcd up,  there was nobody(it was flanneld on node04) to automatically inject ARP table of flannel vxlan interface on node04 with node01's POD IPs to node01's flannel vxlan interface's MAC. So all PODs on nodes except node04 couldn't be reached from node04 due to ARP miss.  This can be c

[2017-03-13 14:42] Dieken commented on #636
I feel it's better flanneld checks bridge fdb and subnet lease before it exits due to broken k8s apiserver.  If the fdb and subnet lease are valid, flanneld can do its best to keep injecting ARP table.

[2017-03-13 16:56] tomdee opened #638 "Remove multi-network support"
It's not widely used and it introduces a large complexity burden on the project.

[2017-03-13 18:30] tomdee commented on #102
Network policy can be applied using Canal - https://github.com/projectcalico/canal

[2017-03-13 18:30] #102 closed

[2017-03-13 18:31] tomdee commented on #49
I think multi-network support is now out of scope of flannel. see #638

[2017-03-13 18:31] #49 closed

[2017-03-13 18:36] tomdee commented on #88
This is already fixed. The `http` is now required.
without it, you get this message

[code]

[2017-03-13 18:36] #88 closed

[2017-03-13 18:41] tomdee commented on #138
This issue is out of scope for flannel

[2017-03-13 18:41] #138 closed

[2017-03-13 18:42] #164 closed

[2017-03-13 18:44] tomdee commented on #288
Closing given #638

[2017-03-13 18:44] #288 closed

[2017-03-13 18:46] tomdee commented on #319
Closing given #638

[2017-03-13 18:46] #319 closed

[2017-03-13 18:49] #443 closed

[2017-03-13 18:49] tomdee commented on #467
Closing given #638

[2017-03-13 18:49] #467 closed

[2017-03-13 18:49] #485 closed

[2017-03-13 18:51] tomdee commented on #551
client/server mode has been removed

[2017-03-13 18:51] #551 closed

[2017-03-14 05:18] #624 closed

[2017-03-14 19:08] shahihmaluf opened #639 "Feature request: Only allow vxlan traffic over a specific interface"
Hello,
is there a way to open port 8472 on specific network interface instead of 0.0.0.0?
SM

[2017-03-14 21:09] danehans opened #640 "flannel-docker-opts.service fails to start"
I am deploying a k8s cluster using coreos/matchbox. The deployment is failing b/c of the flannel-docker-opts.service. Flanneld fails to start b/c it depends on flannel-docker-opts.service, which fails to start.

flannel-docker-opts fails to start with this error:
[code]

I noticed the flannel-docker-opts.service unit file contains the following:
`ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/lib/

[2017-03-14 22:26] euank commented on #640
The error it prints is a timeout, and the logs show it did proceed to the `rkt run` step, so the `rkt rm` error shouldn't matter (and is expected).

Try increasing `TimeoutStartSec=60` to a larger number, or removing the line altogether (default is infinity for oneshot services).

[2017-03-15 12:40] mkutsevol commented on #6
PR #637 is the latest one regarding this issue.

[2017-03-15 16:09] danehans commented on #640
@euank thanks for your help. Looks like it was a network config issue.

[2017-03-15 16:09] #640 closed

[2017-03-15 17:50] tomdee commented on #639
Given the port, I assume you're asking about vxlan?

I'm sorry but I don't know the answer to your original question. Maybe you could use an iptables rule?

[2017-03-16 07:26] jonaz commented on #519
Do we have a config example of this?

[2017-03-16 09:47] timchenxiaoyu opened #641 "same ip error"
I have set --iface=eth0 but ,in k8s+flannel env  ,two pod has same ip

[2017-03-16 10:23] timchenxiaoyu commented on #641
after  I restart docker ,this problem disapper

[2017-03-16 17:30] rahulwa commented on #248
[Please prioritize this. Nowadays IPv6 support is becoming common among the providers (like aws, scaleway, Hetzner, Online.net).
Our company is becoming IPv6 only network for internal traffic due to easiness of doing cross cloud setup securely. (For example, as on aws, globally routable IPv6 range can be configured on VPC level. This makes easy to do cross providers setup securely as we already kn

[2017-03-16 21:27] ilterpehlivan commented on #107
Hi,
I am also facing this issue and cannot ping from my Pod in HostA to my DNS service running in HosB
The google forum link that is posted above is not reachable, could you please give the new Url for the answer ?

Thanks

[2017-03-16 21:34] kkirsche commented on #248
Mobile applications for Apple also require IPv6 — https://developer.apple.com/news/?id=05042016a which may increase the desire to transition for some use cases

[2017-03-16 21:38] euank commented on #107
The message id remains the same, so the updated link is https://groups.google.com/d/topic/kubernetes-users/P4uh7y383oo

[2017-03-17 02:03] tedzhang2891 commented on #427
I encounter this problem.

[2017-03-17 13:45] erevoss opened #643 "Unexplained overhead in container to container communication"
Hello,

I'm running a test with flannel (0.7.0 with vxlan - not UDP) and docker (1.12) on two of my (to be) kubernetes nodes and I am experiencing a very large bandwidth overhead that I can't explain:

* Running iperf from worker01 to worker02 shows that my bandwidth is 8.4Gbps
* When I run iperf from a container on worker01 to another container on worker02 the bandwidth drops to 2.4Gbps.

Docker

[2017-03-21 07:01] Pensu opened #646 "Provide tar.gz for releases for different archs"
Hi,

As seen here: https://github.com/coreos/flannel/releases, there are releases available for different archs, but the tar is only available for amd64. Now, ansible playbooks for kubernetes use tar.gz to install flannel. To make those playbooks arch neutral, we need tar.gz files for ppc64le and arm. Is there any plan/possibility to provide that?

[2017-03-21 17:40] tomdee commented on #646
That sounds fine to me, but I'm not sure I can promise it for the next release. If you'd like to submit a PR (changing the Makefile) then I'll happily merge it.

[2017-03-22 06:45] tamilmani1989 opened #647 "source ip is not container's ip"
I have two containers running on different hosts. I pinged one container from other container. Then I captured the packets using tcpdump in the source host and i saw the source IP is not that of container's IP instead it has flannel.100 host interface ip.

Source Host1:
container source IP: 10.0.73.2
Host flannel.100 IP:10.0.73.0

DestinationHost2:
Container Destination IP: 10.0.15.2
Host flannel.

[2017-03-22 07:11] tamilmani1989 commented on #647
Found out the reason for this issue [https://github.com/coreos/flannel/issues/434](url)

[2017-03-22 07:11] #647 closed

[2017-03-22 20:11] cmluciano opened #648 "Current Flannel config fails by default on Kube 1.6.beta4"
xref: https://github.com/kubernetes/kubernetes.github.io/issues/2942

The [current Kube deploy file](https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel.yml) will fail automatically without first [running the rbac settings](https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel-rbac.yml).

Two options:
- Add a note in the Kube docs that mentions the need to r

[2017-03-22 20:11] cmluciano commented on #648
cc @tomdee

[2017-03-22 20:28] cmluciano commented on #648
I think the current deploy file also needs updated to run in the kube-system namespace. If this should run on every node, I would also need to add the taint bypass lines so that it will be deployed to the Kube controller.

[2017-03-22 20:53] tomdee commented on #648
@cmluciano Do you have a working 1.6 file that you could submit as a PR?

[2017-03-22 20:55] tomdee commented on #643
I see slightly better performance on my laptop, but yes, if you use vxlan you will get less than wirespeed. You can get back up towards 10 GBits/sec by using a larger MTU, more streams and by having a NIC that supports VXLAN offload.

[2017-03-22 20:55] #643 closed

[2017-03-22 20:57] tomdee commented on #641
@timchenxiaoyu could you provide a more detailed list of steps to reproduce this problem? At the moment there's not really enough information for me to diagnose.

[2017-03-22 21:10] tomdee commented on #621
@Agrosis It would be great to understand why your're hitting this

[2017-03-22 21:32] tomdee commented on #612
Thanks @rosenhouse that information all looks correct to me. @xiaoping378 hopefully that resolves your issue to closing this.

[2017-03-22 21:32] #612 closed

[2017-03-22 21:35] tomdee commented on #610
Yes, I think this sounds like a really useful feature.

[2017-03-23 00:19] cmluciano commented on #648
Not yet, I added the namespace to the relevant sections in both, but I’m getting errors about the cni plugin not updating the pod network correctly

[2017-03-23 05:45] Pensu commented on #646
Sure, I will submit a PR soon.

[2017-03-23 06:26] Pensu opened #649 "Getting error while running make release"
HI,

I am trying to run make release with freshly cloned flannel git repo and I am hitting this error:

[code]

I have given the root access to the script, still the error is there. Any idea what I could be doing wrong? TIA.

[2017-03-23 06:36] Pensu commented on #649
Figured out, selinux was enforcing, a docker problem, not a flannel one!

[2017-03-23 06:36] #649 closed

[2017-03-23 21:04] #646 closed

[2017-03-24 17:44] tomdee opened #651 "Documentation should provide guidance on CNI plugin version"
key point is that k8s 1.6 needs CNI plugins version 0.5.1

[2017-03-24 18:03] #648 closed

[2017-03-24 18:23] tomdee opened #653 "Flannel.yml is incompatible with kubernetes versions earlier than 1.6"
[code]

Using `--validate=false` allows it to be applied
[code]

[2017-03-27 07:44] davidwtf opened #654 "Solve a cannot ping problem"
We have a k8s cluster of 50 nodes using flannel. We are using flannel(0.5.5) with wxlan backend. Now we meet a network problem: some of nodes can not ping each other's flannel IP, but these nodes can ping other nodes. Something like this:

There are about 100 unreachable chains in this cluster. But we don't meet this problem in a smaller cluster.

We are using CentOS 7.2, kernel is 4.4.29-1.el7.el

[2017-03-27 18:44] salamaniibm opened #655 "e2e test case for udp backend is failing on s390x"
I am working on s390x architecture.
The e2e-test is failing only for udp backend. where as the vxlan and  host-gw are successfull.

- make e2e-test ARCH=s390x BACKEND=udp
[code]

- Commented the functional test case to avoid deleting of flannel and etcd containers after its execution.
The status of flannel-e2e-test-flannel1 container:
docker exec -it --privileged flannel-e2e-test-flannel1 /bin/sh

[2017-03-27 20:44] tomdee commented on #655
Interesting. UDP is the only backend with C code. Maybe something in there isn't s390x compatible?

[2017-03-28 01:33] peiqi-caicloud commented on #638
flannel is not planning to support multi-network any more ?

[2017-03-28 08:19] ryzasss commented on #653
got same problem

[2017-03-28 08:24] caseydavenport commented on #653
This part of the manifest is not supported prior to v1.6 (tolerations were implemented as annotations previously)

[code]

[2017-03-28 20:14] tomdee commented on #638
Yes, that's the plan. If you're relying on this feature could you describe your use case (or if you're not comfortable doing it in public then feel free to email me)?

[2017-03-29 16:24] xh3b4sd opened #657 "http: panic serving <ip>:49540: runtime error: invalid memory address or nil pointer dereference"
We are running Flannel `0.6.2` and see this panic. We do not know yet how to reproduce it, but checking the code looks like the fix is quite simple.

[code]

The panic most likely happens here: https://github.com/coreos/flannel/blob/3b9ac987436d010774ee660929c2b58cd70cd8ab/subnet/registry.go#L400. The address of `nil` is tried to be accessed, which does not work. See https://play.golang.org/p/7wwM

[2017-03-30 09:42] xh3b4sd opened #659 "flannel does not get rid of unused config in etcd"
When Flannel manages a lot of subnets there will be a lot of data created in etcd. I see that this data is always kept, even though the subnets do not exist anymore. I did not find configuration for making flannel cleaning up etcd data over time. How is this supposed to work? IMO Flannel should take care of the state within etcd and should curate orphaned data from time to time. WDYT?

[2017-03-31 03:08] timchenxiaoyu opened #660 "k8s svc error"
In k8s env,do we need keep --service-cluster-ip-range and flannel network same?

[2017-03-31 12:52] noahzaozao commented on #426
Seems I have same issue with kube 1.5.1, Flannel 0.5.5

[2017-03-31 22:59] euank commented on #660
Those two ranges should not overlap.

Service ips in a K8s cluster are "fake" ips which are redirected by kube-proxy to real ips, irrespective of the pod network. Kube-proxy will make rules that redirect the service-ips to pod-ips, and those pod-ips are what flannel should understand.

[2017-04-01 09:48] oliverln commented on #392
@vijaykumark  hi，have you slove it ?

[2017-04-03 04:09] calvix commented on #97
Hello,

.we still have this issue with flannel  `quay.io/coreos/flannel:v0.7.0-amd64` on RHEL 7.2 (`3.10.0-327.10.1.el7.x86_64`)

[code]

[code]

[2017-04-03 11:58] vijaykumark commented on #392
There is no response @philips or from flannel team since last year.

[2017-04-04 04:52] calvix opened #661 "VXLAN - error deconfing subnet lease"
Hello,

We  experience similar issue to this https://github.com/coreos/flannel/issues/97
with flannel  `quay.io/coreos/flannel:v0.7.0-amd64` on RHEL 7.2 (`3.10.0-327.10.1.el7.x86_64`)

We don't experience it in other envs where we use `coreOS`.

[code]

[code]

After restarting all flannels it works. After the lease renewal `BackendData` are filled with base64. Networks works but if we restart one

[2017-04-05 04:54] timchenxiaoyu commented on #660
ok,I have found the problem ,k8s kubelet config change --pod-cidr

[2017-04-05 04:54] #660 closed

[2017-04-05 16:02] xalex84 commented on #414
Hi, we are also encountering the same issue.
Since we don't have the problem on all the boxes, we are analysing  the issue in order to understand if there is a match for specific pods hosted by specific boxes.

Flanneld v0.7.0
Etcd2 2.3.7
Kubernetes v1.5.2

Average cpu load of the nodes is 25%

[2017-04-06 09:31] stregatto commented on #414
Same problem.
[code]
Ubuntu 16.04 on baremetal x86_64
Flanneld v0.6.2 and Flanneld v0.7.0

Is not related to the pods, nodes without pods produce errors as nodes with pods do not produce error.

Node without pod and with errors:
`%Cpu(s):  0.3 us,  0.8 sy,  0.0 ni, 98.8 id,  0.0 wa,  0.0 hi,  0.0 si,  0.0 st`
Node without pod and without errors:
`%Cpu(s): 19.1 us,  2.0 sy,  0.0 ni, 77.2 id,  0.0 w

[2017-04-06 09:45] bboreham opened #663 "Please include instructions for installing on ARM"
so we can link to them from https://kubernetes.io/docs/getting-started-guides/kubeadm/

[2017-04-07 15:00] mrahbar opened #664 "flannel cni plugin uses real hostname not the name of the node"
Versions.

v0.7.0-amd64

Repro steps.

Kubernetes setup:
- Deploy flannel as cni plugin via a DeamonSet (extract):
[code]
- Configure kube-controller-manager and kubelet

 systemctl status kubelet -l
`/usr/bin/kubelet [...]  --hostname-override=KubeMaster03 --cni-bin-dir=/opt/cni/bin --cni-conf-dir=/etc/cni/net.d --network-plugin=cni --network-plugin-dir=/etc/cni/net.d `

`/usr/bin/kube-controller

[2017-04-10 10:24] charon-kyan commented on #544
i++

[2017-04-10 15:26] danehans opened #666 "etcd3 support"
In reviewing the flannel documentation, I am unable to determine of etcd3 is definitively supported. Can someone confirm if etcd3 is supported? Any guidance on this issue is appreciated.

[2017-04-10 18:02] tomdee commented on #666
You can use the latest version of etcd with flannel but flannel still stores the data in the v2 format.

[2017-04-10 19:06] danehans commented on #666
Thanks for the information. I am using the v3.1.0 etcd3 release. I'll try v3.1.5. I am using flannel v0.6.2. Let me know if I need to upgrade flannel as well.

I am trying to use the [matchbox examples](https://github.com/coreos/matchbox/tree/master/examples) to back a Kubernetes/Flannel cluster with etcd3.

cc/ @dghubble

[2017-04-10 23:58] justinsb opened #667 "flannel stripping node taints"
Seeing some odd behaviour: kubelet should be registering a node with 1.6 taints (in a field) - I believe - but then the taints are not there when I look.  I think this only happens with flannel.

I hypothesize that the following is happening:

* kubelet registers the node with taints
* flannel is still using the 1.5 APIs, which don't know about the taint field, so the taint is "gone" when it reads

[2017-04-11 00:16] davidopp commented on #667
So IIUC the situation is that flannel is effectively a 1.5 client, running against a 1.6 master, that reads the Node object, makes some changes in memory, and then writes it back (does the `Update()` function you linked to use PATCH or PUT/POST? May not matter though) and the taints field gets lost because the field exists in 1.6 but not 1.5.

I think what you described is definitely possible. I'm

[2017-04-11 00:21] justinsb commented on #667
That is my hypothesis for what I have otherwise not yet been able to explain, so I thought I would ask here in flannel if it makes sense and if it has been observed.

There's also a general API issue which is how do we deal with this... protobuf has "unknown fields" but I don't think we have something similar for JSON?

I think Update == PUT:

[code]

[2017-04-11 04:45] justinsb commented on #667
Probable confirmation (I believe):

* I readded the taint to the node
* I deleted the backendDataAnnotation (`flannel.alpha.coreos.com/backend-data`) annotation from the node
* I restarted (all) the canal pods.
* I manually polled the node for the taint and watched the pods restart.
* As soon as the pods had restarted (and not before), I observed the taint was removed from the node.

This was actu

[2017-04-11 05:03] davidopp commented on #667
Here's an example of using Patch() instead of Put():
https://github.com/kubernetes/kubernetes/blob/3b1d2343a84d3b8e3fd21554568e06b8594cdf26/pkg/controller/controller_utils.go#L935

But it looks like the diff is done on the client (I was hoping it was done on the server), so I don't think it would solve this problem.

[2017-04-11 05:08] davidopp commented on #667
And I wonder if 1.6 master with 1.5 kubelet has the same problem when Kubelet updates the Node object to update status (even though taints are in spec, not status, the granularity is the whole object).

[2017-04-11 06:33] wojtek-t commented on #667
I think that using PATCH would solve the problem.
The diff on the client-side is done to compute the actual patch (that is the send to apiserver). If the client doesn't understand some field, it shouldn't have it neither in the "original" object not in "patched" one. So the patch should actually be correct.
And when it is applied in apiserver, apiserver understands all fields, so the patched objec

[2017-04-11 06:36] davidopp commented on #667
Great - thanks @wojtek-t !

[2017-04-11 17:17] lavalamp commented on #667
This is a longstanding problem in our client, that we delete fields the we don't understand. (Although even if we fix it by default there, users will still be able to get it wrong. But we're currently broken by default.)

Using PATCH is a pretty thorough fix.

[2017-04-11 20:43] danehans commented on #666
I found my issue to be flanneld's interface discovery mechanism:

[code]

My k8s nodes have multiple interfaces. Flannel binds to the interface associated to the host's default route. In my instance, a node's public interface has the default route and was being used by flanneld instead of the private interface used for node<>node communication (i.e. pod networking).

I fixed the issue by specifyin

[2017-04-11 20:43] #666 closed

[2017-04-11 22:46] tomdee opened #668 "Flannel (with the kube-subnet-mgr) produces an error on shutdown"
Seen on current master but I think this is in 0.7.0 too
[code]

[2017-04-12 14:31] hustljl opened #671 "Failed to create SubnetManager: error retrieving pod spec for 'kube-system/kube-flannel-ds-sb3k4': the server does not allow access to the requested resource^C"
Failed to create SubnetManager: error retrieving pod spec for 'kube-system/kube-flannel-ds-sb3k4': the server does not allow access to the requested resource

[2017-04-12 19:12] tomdee opened #672 "Docs: Rework the README.md"
Here are my thoughts on what should go in the README.md

# Intro
What is Flannel (k8s focused, but introduce concepts of having different datastores and different networking backends), mention K8s (/CNI) and Docker integration, and maybe container linux integration. Also worth dropping in a few networking details - e.g. L3 routed, no L2 traffic between hosts
Interaction with Network Policy - Flann

[2017-04-12 19:13] tomdee commented on #672
@joshix and @zbwright Can you run with the intro section?

[2017-04-12 19:29] zbwright commented on #672
I believe Josh is going to take a stab at this, and I'll edit/massage. We've added notes to the original google doc plan for this project.

[2017-04-12 19:35] tomdee commented on #672
For the getting started guide, this is what I'm thinking so far (it's a bit rough and ready but you hopefully get the idea):

# Getting started
It's really easy to use flannel with Kubernetes. Flannel supports using the kubernetes API server as its backing datastore which means there's no need to deploy an etcd server for flannel, or even for flannel to access the etcd server that Kubernetes uses.

[2017-04-12 20:23] tomdee opened #673 "Docs: Make the "Running" doc better"
Now that it's moved, it needs to be reworked so it can standalone. e.g. add some intro text and fix up missing references

I also think the following extra content would be good
- [x] Running manually
- [x] Interface selection
- [x] Making changes at runtime
- [ ] Then zero-downtime restarts should be moved into an upgrade section (or standalone doc) with some extra k8s focused content
- [x] A lin

[2017-04-12 20:27] teemow commented on #661
I've been able to reproduce the error. It has been related to the experimental server/client model. This has been removed in master already. So I guess this can be closed now. Let's go with the kube subnet manager :tada:

[2017-04-12 20:32] tomdee commented on #673
For running manually, I was thinking a complete etcd-based mini-guide would be instructive, e.g.
1) Download a flannel binary - wget https://github.com/coreos/flannel/releases/download/v0.7.0/flanneld-amd64 && chmod +x flanneld-amd64
2) Run the binary - `sudo ./flanneld-amd64` it will hang waiting to talk to etcd
3) Run etcd - see instructions at https://github.com/coreos/etcd/releases/latest or i

[2017-04-12 20:48] tomdee commented on #673
For interface selection, it ties in with the existing vagrant content a little. It should highlight the importance of choosing the right interface as this is how flannel registers itself in the datastore. The important options are
[code]
The combination of the defaults, the autodetection and these two flags ultimately result in the following being determined
* An interface (used for MTU detection

[2017-04-12 20:51] tomdee commented on #673
For k8s upgrade guidance I was thinking of tying in with the k8s 1.6 daemonset rolling upgrade feature. Help from a CoreOS kubernetes expert would be appreciated here!

[2017-04-12 20:57] tomdee commented on #673
For making changes at runtime I think we just needs statements that say
- You can't change the datastore type (we don't have a migration path currently from etcd backed flannel to kube-subnet-mgr backed flannel)
- You can't change the backend type (without stopping all your workloads and restarting all your flannel daemons)
- You can change the the subnetlen/subnetmin/subnetmax with a daemon resta

[2017-04-12 21:11] #187 closed

[2017-04-12 21:13] tomdee commented on #671
@hustljl What kubernetes version are you using? What flannel version are you using? Which manifest(s) did you use? Did you try the RBAC one?

[2017-04-12 21:16] tomdee commented on #667
So if I'm understanding this correctly, we should fairly urgently switch flannel to use the v1.6 client, and before 1.7 comes out, switch it to using patch?

[2017-04-12 21:21] tomdee opened #674 "flanneld binary is quite large"
The flanneld binary got quite large when we added the kube-subnet-mgr (which imports a _lot_ of code to get a k8s client). It would be nice to get the size back down, some options are:
- Start using https://github.com/kubernetes/client-go
- Start using https://github.com/ericchiang/k8s

[2017-04-12 21:28] zbwright commented on #673
I've got a draft going of this - will need more input from Josh or another source to flesh it out more. I can continue working from this Issue's comments, and generate a PR when you think it's time.

[2017-04-12 21:47] tomdee commented on #667
The flannel kube subnet manager uses the `"k8s.io/kubernetes/pkg/client/cache"` package which doesn't exist in 1.6. Is there anyone with more kubernetes client experience than me who could help fix this? cc @mikedanese

(Also this could be a chance to resolve/improve https://github.com/coreos/flannel/issues/674)

[2017-04-12 21:50] tomdee commented on #667
Urghh - it also imports "k8s.io/kubernetes/pkg/controller/framework" which was removed in v1.4 AFAICT

[2017-04-12 21:52] tomdee commented on #661
Thanks @teemow (and @calvix for reporting) - closing.

[2017-04-12 21:52] #661 closed

[2017-04-12 21:53] tomdee commented on #659
Thanks for raising this but it doesn't match my understanding. Flannel shouldn't be leaving any state data in etcd - can you give me a specific example of what you're seeing?

[2017-04-12 22:00] tomdee commented on #598
Could this be a centos problem? What version of centos are you running?

[2017-04-12 22:23] davidopp commented on #667
I believe the idea is that you can stick to the 1.5 client if you switch it to use patch, OR you can switch to the 1.6 client. But yeah, you should definitely switch to using patch before 1.7 either way.

[2017-04-12 22:35] euank commented on #667
@tomdee I believe it ended up in `tools/cache` in client-go 3.

See https://github.com/kubernetes/client-go/tree/release-3.0/tools/cache

Moving to client-go rather than using kubernetes directly should be the easiest update path IMO.

[2017-04-13 10:08] TracyBin opened #676 "flannel in kubeadm can't be started"
[code]

and this is my manifests
[code]
Below is all images used by kubeadm
[code]

[2017-04-13 17:32] philips commented on #676
cc @luxas @jbeda @lukemarsden

[2017-04-13 17:40] tomdee commented on #676
@TracyBin Can you provide the logs from the flannel container?

[2017-04-13 22:26] #657 closed

[2017-04-13 23:19] zbwright commented on #672
I can add this to the ReadMe. Question: Should I remove the Theory of Operation text and diagram? is it outdated? Or should I leave it, and add the Getting Started materials after?

[2017-04-13 23:41] newtonkishore opened #680 "Flanneld 0.7 is not working with etcd Version: 3.1.0 Git SHA: 8ba2897 Go Version: go1.7.4 Go OS/Arch: linux/amd64"
Flanneld service cannot be started

[2017-04-13 23:49] zbwright commented on #672
This sentence doesn't make any sense. Maybe a little rewrite? does kubeadm tell you to create a CIDR?

A great way to create a new Kubernetes cluster is with kubeadm which helpfully points out the need to define "a pod network CIDR" for example by passing in --pod-network-cidr 10.244.0.0/16 when running kubeadm init.

[2017-04-14 01:39] TracyBin commented on #676
@tomdee  sorry ,there is no log output from the flannel container.

[code]

[2017-04-14 02:59] TracyBin commented on #676
@tomdee  hi, this is  logs of the flannel container
[code]

[2017-04-14 03:06] TracyBin commented on #676
This look like a rbac permission error

[2017-04-16 15:15] luxas commented on #676
kube-flannel.yml already requires k8s v1.6+, you should really add the RBAC contents to the main manifest file. Forcing the user to apply two manifests when everyone else has one isn't optimal.

[2017-04-18 16:26] fieryvova opened #683 "How does flannel receive incoming requests?"
I've been struggling to understand the internals of how flannel works over the past few days.
The product is great, I'm loving it. From my point of view documentation doesn't describe much though.

I'm running flannel on top of Kubernetes cluster.

I understand how a request gets out to another Kubernetes node, e.g. pod IP addresses are routed to flannel interface, the packet gets encapsulated and

[2017-04-18 20:07] diegs commented on #667
I believe this is fixed by https://github.com/coreos/flannel/pull/681.

There's also https://github.com/coreos/flannel/pull/681 to move to client-go.

(Big ups to @mikedanese for putting both of those together)

[2017-04-19 00:36] tomdee commented on #680
Can you offer any more information? What output do you get and what is generating that output?

[2017-04-19 03:14] tomdee opened #685 "s390x build is failing"
I'm seeing the following output:

[code]

[2017-04-19 08:20] fieryvova commented on #683
Never mind. All traffic to a local ethernet interface has been allowed.
I should've paid more attention to iptables.

[2017-04-19 08:20] #683 closed

[2017-04-19 08:24] salamaniibm commented on #685
Hi tomdee,
The above issue is due to invalid path of LIB_DIR in Makefile for s390x.
The LIB_DIR for s390x has to be changed to /usr/s390x-linux-gnu/lib.
I will add the PR for it.

[2017-04-19 14:43] singhsankalp commented on #676
Is there a workaround of this issue right now?

[2017-04-19 17:14] vjdhama opened #688 "Flannel interface down while using with kubeadm"
I ran into the same situation as described in #676. Then as suggested on kubernetes slack, I ran
`kubectl apply -f https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel-rbac.yml`

This fixed the issue of pods not coming up, but flannel interface is still down and pod throws the following error.

[code]

[code]
Flannel Manifests

[code]

Flannel rbac manifest

[code]

Interface s

[2017-04-19 21:46] strigona-worksight commented on #688
I just got this working myself.

Download kube-flannel.yml and update references to the flannel image from 0.7.0 to 0.7.1.

Re-run the configuration from scratch, but use
`kubectl apply -f kube-flannel.yml`
 (your edited file)

[2017-04-19 23:07] strigona-worksight commented on #688
This should be fixed now #690

[2017-04-20 06:20] vjdhama commented on #688
@strigona-worksight Thank you very much. The above works.

[2017-04-20 06:21] #688 closed

[2017-04-20 22:32] #685 closed

[2017-04-20 23:26] tomdee commented on #667
Yep - the 0.7.1 release should have the PATCH fix in and the lates flannel-git (https://quay.io/repository/coreos/flannel-git?tab=tags) releases should have the client-go fixes in.

[2017-04-20 23:26] #667 closed

[2017-04-20 23:29] tomdee commented on #674
Even with the move to `client-go` the binary is still ~52MB

[2017-04-20 23:32] tomdee commented on #674
I think to make them smaller we'd need to use `upx` (and maybe some stripping)

[2017-04-21 15:44] euank commented on #674
A crazier option would be shipping different binaries for k8s vs etcd backed flanneld.

[2017-04-21 21:24] ajayapte commented on #671
Am having same issue.
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeState:"clean", BuildDate:"2017-04-03T20:44:38Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", GitCommit:"fff5156092b56e6bd60fff75aad4dc9de6b6ef37", GitTreeSta

[2017-04-21 21:24] ajayapte commented on #671
And yes I did specify necessary inputs on my kubeadm init like this -
kubeadm init --pod-network-cidr 172.10.0.0/16 --service-cidr 172.16.0.0/12

[2017-04-24 09:19] timchenxiaoyu opened #691 "vxlan src ip"
In my env, flannel+vxlan.  I get vxlan package from wireshark, i find src IP is not container but flannel.1 ?why not source container IP rather than  source host flannel.1?
eg:
Internet Protocol Version 4, Src: 192.168.5.0 (192.168.5.0), Dst: 192.168.49.2 (192.168.49.2)
192.168.5.0 is flannel.1 ip

[2017-04-24 12:01] timchenxiaoyu commented on #691
I see,
192.168.5.0/24 dev docker0  proto kernel  scope link  src 192.168.5.1
this route  will lead package to docker0 ,then to container

[2017-04-24 14:35] aitorhh commented on #676
@singhsankalp The solution with Kubernetes v1.6.1 is to create the cluster role and role bindings first, as described in the header [here](https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel-rbac.yml).

Or just execute:

[code]

[2017-04-24 19:26] tomdee commented on #392
I'm still not sure I understand what's being asked for here. The way the diagram is written above implies that the UDP backend is being used, but I think it would be better to just center the discussion around the `vxlan` backend. This means that the flanneld isn't in the packet path.

VXLAN doesn't bind to any of the physical interfaces, the packets are routed according to the routing set up on t

[2017-04-25 00:01] ganlaksh opened #692 "Reachability between containers on two different hosts part of flannel network stops working after host reboot with Flannel 0.5.5 with docker version 1.12.6 on Cent OS 7.3"
Workaround that I do to recover from this to restart either docker or flannel and that seems to fix this issue and it always works.

When i try to ping a container ip on the node after reboot , with tcpdump I see that the icmp packet reaches flannel0 but i dont see it being forwarded to docker0 on the host.

[root@ip-10-0-101-186 ansible]# tcpdump -i flannel0
tcpdump: verbose output suppressed, us

[2017-04-25 00:15] euank commented on #692
@ganlaksh can you try with flannel version 0.7.1? I think https://github.com/coreos/flannel/pull/576 might be relevant, though I'm not sure.

[2017-04-25 00:22] ganlaksh commented on #692
@euank I am using flannel with udp and not vxlan. Do you think it could still be relevant ? I will give it a try anyway. thanks!

[2017-04-25 06:46] ganlaksh commented on #692
@euank Tried with 0.7.1 and i see the same issue after node reboot and same workaround works as well .

[2017-04-25 08:22] guirish commented on #655
As s390x uses Big endian format, I saw all routing table IP's in reverse order due to changes in byte alignment in C code. I am able to pass the test cases by removing networkOrder function calls in cproxy.go.

I am currently looking for a fix either by conditionally checking endianness.

[2017-04-25 19:31] tomdee commented on #692
Talking to @ganlaksh offline and this issue is AWS only

[2017-04-25 19:35] tomdee commented on #692
@ganlaksh Is there a reason why you're using `udp` rather than `vxlan` backend? VXLAN should have much better performance

[2017-04-25 20:18] ganlaksh commented on #692
@tomdee We havent looked into the performance aspect yet and we were just going with the defaults as of now.

[2017-04-25 21:06] tomdee commented on #692
`udp` is only the default since it works for some older kernels. You should be using `vxlan` unless you have a good reason not to.

[2017-04-26 15:58] tomdee commented on #655
Sounds good, thanks for tracking it down.

[2017-04-27 00:21] dashesy opened #694 "alloc backend performance"
The documentation about `alloc` backend is not very complete. Does `alloc` backend zero-copy the packets or is there some kernel/user memory copy involved?

[2017-04-27 10:40] yangshuai93 opened #695 "flannel server/client mode"
flannel server/client has some advantages than the normal mode ?
is there anything update about this s/c mode ?

[2017-04-27 13:21] jsravn commented on #623
@guanjunding did you find anything? I don't think it's a flannel issue btw, most likely something in the vxlan driver drops packets occasionally.

[2017-04-27 22:58] tomdee commented on #283
@sekannia Currently the TTL is fixed to 24 hours.

I'm going to close this issue - if anyone thinks there's still an issue here then please try to repro on the latest release.

[2017-04-27 22:58] #283 closed

[2017-04-27 22:58] tomdee commented on #388
Closing as not enough info to diagnose.

[2017-04-27 22:58] #388 closed

[2017-04-27 22:59] #412 closed

[2017-04-27 23:00] tomdee commented on #549
@suchisubhra Sorry I wasn't able to help with your issue. Could you please retry with the latest versin of flannel and if you're still seeing a problem then share your logs?

[2017-04-27 23:00] #549 closed

[2017-04-27 23:01] tomdee commented on #550
Yes, it's by design. The arp table is showing the VTEP mac of the host that "owns" the containers. So, it's the same for them all because they are on the same subnet.

[2017-04-27 23:01] #550 closed

[2017-04-27 23:02] tomdee commented on #429
Closing as I'm not sure what the issue is. @aabed Please reopen if you're still having a problem here.

[2017-04-27 23:02] #429 closed

[2017-04-27 23:05] tomdee commented on #598
Sorry closing as I can't diagnose this without more information. Please reopen if you're still hitting this issue - my guess would be either an old kernel/os or maybe a permissions issue.

[2017-04-27 23:05] #598 closed

[2017-04-27 23:05] #641 closed

[2017-04-27 23:06] tomdee commented on #659
@xh3b4sd I'm going to close this issue as I think flannel is getting rid of unused config in etcd. If you're still seeing this problem then please reopen the issue

[2017-04-27 23:06] #659 closed

[2017-04-27 23:10] tomdee commented on #680
I can't repro any issue with etcdv3 so closing.

The trace below shows flanneld successfully connecting to etcd v3.1.0
[code]

[2017-04-27 23:10] #680 closed

[2017-04-27 23:11] tomdee commented on #694
Alloc doesn't do any networking. It only allocates the subnet in etcd.

[2017-04-27 23:11] #694 closed

[2017-04-27 23:13] tomdee commented on #695
The goal of the server/client experiment was to remove the need for flanneld to talk directly to etcd. With the introduction of the kube subnet manager this is no longer needed so the client/server mode has been removed.

[2017-04-27 23:13] #695 closed

[2017-04-27 23:15] tomdee commented on #29
One implementation of this is in #610

[2017-04-27 23:16] tomdee commented on #610
Originally raised and tracked in #29 - I'm going to close this issue and just track it from #29.

[2017-04-27 23:16] #610 closed

[2017-04-27 23:17] tomdee commented on #520
Sorry @rosenhouse I don't have a good answer for this at the moment. I'm going to close this issue and just track making this better as part of #29

[2017-04-27 23:17] #520 closed

[2017-04-27 23:18] tomdee commented on #29
Also see #520 for some good questions about how flannel handles this at the moment.

[2017-04-27 23:18] tomdee commented on #29
When fixing this, we should make sure this failure scenario is discussed clearly in the docs.

[2017-04-27 23:19] tomdee commented on #64
@philips GUE doesn't seem to have caught on so closing this. Please reopen if you think it still needs more investigation.

[2017-04-27 23:19] #64 closed

[2017-04-27 23:21] tomdee commented on #105
I think this issue is just caused by firewall ports not being opened. We already mention this in the docs. I'm not sure how else to progress this issue so closing.

[2017-04-27 23:21] #105 closed

[2017-04-27 23:22] tomdee commented on #167
Static subnet reservation for a host can be done following this doc I added https://github.com/coreos/flannel/blob/master/Documentation/reservations.md

Static IP addresses for individual containers/pods is not something to flannel manages.

[2017-04-27 23:22] #167 closed

[2017-04-27 23:23] tomdee commented on #179
@vascofg Sorry, not at the moment. I would be happy to discuss designs if anyone wants to submit a PR.

[2017-04-27 23:24] tomdee commented on #180
I'm assuming that v0.7.0 resolved this so closing. Please reopen if you're still having problems.

[2017-04-27 23:24] #180 closed

[2017-04-27 23:30] tomdee commented on #197
There is some support for reservations documented here - https://github.com/coreos/flannel/blob/master/Documentation/reservations.md#reservations

[2017-04-27 23:30] #197 closed

[2017-04-27 23:31] tomdee commented on #179
See #200 for some more detailed discussion/investigation.

[2017-04-27 23:32] tomdee commented on #200
Tracking multicast under #179 so closing this issue.

[2017-04-27 23:32] #200 closed

[2017-04-27 23:33] tomdee commented on #242
Closing this stale issue

[2017-04-27 23:33] #242 closed

[2017-04-27 23:34] tomdee commented on #281
I'm going to close this old issue - @YP28 please do reach out if you're still having problems though

[2017-04-27 23:34] #281 closed

[2017-04-27 23:34] tomdee commented on #289
No longer have client-server mode so closing

[2017-04-27 23:34] #289 closed

[2017-04-27 23:37] tomdee commented on #295
Glog is still widely used elsewhere (e.g. in kubernetes) so I don't see a compelling need to move away from it. Given that this issue has been open for >18 months without much interest I think it can be closed.

If people have strong feelings about moving away from glog then please write here and I can reopen the issue.

[2017-04-27 23:37] #295 closed

[2017-04-27 23:40] tomdee opened #696 "flannel doesn't error early enough when configured with a bad subnet"
Seen on flannel v0.7.1

Using this config:
[code]

I see
[code]
Which isn't great behavior

I think that it shouldn't allocate a /33 (?1?!) lease and it should probably just exit

[2017-04-27 23:50] tomdee commented on #301
Reproed on v0.7.1 and the client does loop trying to get a lease

[code]
That is the desired behavior and this issue is client/server specific so closing

[2017-04-27 23:50] #301 closed

[2017-04-27 23:51] tomdee commented on #330
Client/server mode specific so closing

[2017-04-27 23:51] #330 closed

[2017-04-27 23:53] tomdee commented on #359
Closing this old issue,please report if still having problems.

[2017-04-27 23:53] #359 closed

[2017-04-28 00:02] rosenhouse commented on #29
FWIW, the system design that we've converged on for Cloud Foundry is that hosts are preferentially assigned their prior lease, even if it "expired."  And if a new host appears, it is assigned a lease in the following priority order:
- prefer subnets that have never been given out before, or subnets which were explicitly relinquished by a cleanly-terminating host.
- if none of those exist, only the

[2017-04-28 00:38] tomdee commented on #691
The source IP address should be for the container. How are you sending the packet from the container?

[2017-04-28 00:40] tomdee commented on #360
Flannel is configured through command line options and JSON in etcd. I'm going to close this issue as I can't see a better way to do this, if you have some suggestions I can reopen it.

[2017-04-28 00:40] #360 closed

[2017-04-28 00:40] tomdee commented on #363
I think this is resolved. Please comment if not and I can reopen.

[2017-04-28 00:40] #363 closed

[2017-04-28 00:41] #365 closed

[2017-04-28 00:42] tomdee commented on #371
Remote API is no more - closing.

[2017-04-28 00:42] #371 closed

[2017-04-28 00:45] tomdee commented on #393
@zbwright / @joshix Do you think this issue can be closed?

[2017-04-28 00:47] tomdee commented on #340
See also https://github.com/coreos/flannel/issues/404

[2017-04-28 00:47] tomdee commented on #404
I'm going to track this clock sync issue under #340 so closing this issue

[2017-04-28 00:47] #404 closed

[2017-04-28 00:50] tomdee commented on #408
Good, I think the code at the moment will fetch a new lease if the public IP changes. So maybe we could add an option for migrating to a new public-ip - that doesn't sound like a bad idea.

As a workaround, you may just be able to stop the flannel daemon, update the public IP in etcd then start the daemon again (with the new public IP).

[2017-04-28 00:51] tomdee commented on #592
Possibly related to #414

[2017-04-28 00:59] tomdee commented on #415
Can anyone reproduce this issue with flannel 0.7.0? I can't see how this can be a flannel problem but I would like to be proved wrong. I'm going to close this issue but if anyone is still seeing this problem then please reopen.

[2017-04-28 00:59] #415 closed

[2017-04-28 01:00] tomdee commented on #426
The original issue is caused by having an old kernel. I'm going to close this issue but if anyone else is still hitting it then please comment (with diags) and I can reopen.

[2017-04-28 01:00] #426 closed

[2017-04-28 01:02] tomdee commented on #432
This etcd client has been updated so this should no longer be a problem. Please comment and I can reopen if anyone can still repro this bug.

[2017-04-28 01:02] #432 closed

[2017-04-28 01:07] tomdee commented on #445
Closing this old issue. Please comment if still a problem and I can reopen.

[2017-04-28 01:07] #445 closed

[2017-04-28 01:10] tomdee commented on #487
Closing and tracking this just under #193

[2017-04-28 01:10] #487 closed

[2017-04-28 01:11] tomdee commented on #488
@chenzhiwei See https://github.com/coreos/flannel/blob/master/Documentation/reservations.md#reservations for some guidance on this

[2017-04-28 01:13] tomdee commented on #491
I'm assuming that the solution from @monder works so closing. Please comment if this is still a problem and I can reopen.

[2017-04-28 01:13] #491 closed

[2017-04-28 01:15] tomdee commented on #508
Assuming this is caused by AWS ELB timeouts. So closing and tracking elsewhere.

[2017-04-28 01:15] #508 closed

[2017-04-28 01:16] tomdee commented on #529
There is no speed limit on this interface as it's virtual.

[2017-04-28 01:16] #529 closed

[2017-04-28 01:19] tomdee commented on #538
@toralf Sorry I can't be more helpful here. I'm going to close this issue as it's quite specific. I think if you want it resolved you'll need to submit a PR.

[2017-04-28 01:19] #538 closed

[2017-04-28 01:22] tomdee commented on #541
I think this is a Docker issue so is probably worth raising there. @Ahrotahntee are you still seeing this as a problem or can I close this issue?

[2017-04-28 01:24] tomdee commented on #556
I'm going to close this issue as there's not enough information to diagnose. Please add more and I can reopen the issue.

[2017-04-28 01:24] #556 closed

[2017-04-28 01:26] tomdee commented on #621
Without some more info this can't be debugged or fixed. Unless we can find a repro for this I'm going to have to close it.

[2017-04-28 05:07] insoz opened #698 "Flannel 0.7.1 vxlan&udp cant work on aliyun cloud with kubernetes 1.6.2"
Flannel vxlan&udp  cant cross the node network.

ubuntu 16.04
aliyun cloud vpc

#### version
[code]

#### master flannel container log
[code]

#### minion flannel container log

[code]

[2017-04-28 05:34] igortin commented on #671
I had the same problem~

Solution:
kubectl apply -f https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel-rbac.yml
kubectl apply -f https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel.yaml

[2017-04-28 05:37] igortin commented on #671
please point out the correct namespace

[2017-04-28 09:38] sd1587745 opened #699 "flannel network issue --- cannot ping pod on other nodes"
Hi there,

I have a kubernetes cluster with version 1.3.10, now pod on one node cannot ping pod on different node, but can ping other's docker port.

for example:

[code]
u see IP of pod on 10.148.13.236 is 172.31.11.4, I cannot ping it from 10.140.140.29:
[code]
but docker0 port on 10.148.13.236 is reachable from 10.140.140.29:

IP address on 10.148.13.236:

[code]
I also checked flannel ip forwa

[2017-04-28 09:43] sd1587745 commented on #699
SW versions:
[code]
and using flannel vxlan mode.
[code]

[2017-04-28 17:11] Ahrotahntee commented on #541
It is a problem (though admittedly not a very high priority one.)

I had figured that since flannel is the one injecting the parameters that it should be the one to accommodate.

I will also raise an issue on the docker tracker for the log-opts not terminating correctly.

[2017-05-01 16:27] tomdee commented on #699
Was this working previously? Did you do anything that could have stopped it from working? Are you able to retry with the latest flannel release?

[2017-05-02 01:22] chenzhiwei commented on #488
@tomdee Thanks, I think I can close this issue now.

[2017-05-02 01:22] #488 closed

[2017-05-02 02:56] sd1587745 commented on #699
when I use flannel 0.7.1 and a bug as this link occurred: [https://github.com/coreos/flannel/issues/196]

my etcd has new subnet profile for these hosts, docker0 port is set to correct subnet, but flannel.1 port remains old config.

[code]
acturally subnet.env is correct for flannel, but I restart flanneld many times it still keeps older IP subnet:

[code]

how to fix it.

[2017-05-02 03:07] sd1587745 commented on #699
also pid and log file doesn't created, I'm using ubuntu14.04.3.

config file in /etc/init.d/flanneld
[code]
no files created:

[code]

[2017-05-02 03:12] sd1587745 commented on #699
anyway, when change back to flannel version 0.5.5, flannel.1 auto updated, not version 0.7.1.
pid and log files still doesn't exist.

[2017-05-03 07:23] ylhyh commented on #671
same issue here.
ebtables 2.0.10.4-3
kubernetes-cni 0.5.1-00
socat 1.7.3.1-1
kubelet 1.6.2-00
kubectl 1.6.2-00
kubeadm 1.6.2-00
flannel 0.7.1-amd64
so what is the solution?

[2017-05-03 10:16] insoz opened #704 "Centos node join ubuntu master Permission denied"
I run join command on centos minon, the flannel container create faild.
master is ubuntu
kubernetes 1.6.2
flannel 0.7.1

[code]

[2017-05-03 10:50] igortin commented on #671
Are you using RBAC?
How to check:
[kube@kube-master ~]$ kubectl exec kube-apiserver-kube-master.example.com -c kube-apiserver -n kube-system ps
In the output find:
 --authorization-mode=RBAC

If RBAC enabled:
1) check sa
[kube@kube-master ~]$ kubectl  get sa flannel -n kube-system
NAME      SECRETS   AGE
flannel   1         5d
2) check cluster role
kubectl get clusterrole flannel -n kube-system

3

[2017-05-03 11:11] ntquyen opened #705 "network speed in hostgw mode become much slower after upgraded"
I upgraded my VMs (running under Hyper-V) from CoreOS old versions (899.15.0, 1122.2.0 and 1068.10.0) to new version 1298.7.0 in stable channel. The network speed between containers among VMs become much slower in host-gateway mode.

My flannel network config
[code]
Testing with `networkstatic/iperf3`

from 1298.7.0(client) to 1298.7.0 (server)

[code]

from 899.15.0 (client) to 1122.2.0 (server):

[2017-05-03 12:02] timchenxiaoyu commented on #691
you are right, is my err.I want to ask another question,about vxlan outerIP ,what's the different between use vxlan vtep  and use host eth?

[2017-05-03 17:10] tomdee commented on #705
@ntquyen I can't think how flannel host-gw mode could have caused this change. I suspect the problem is more likely to be an OS problem so you might be better raising the issue with the OS team.

[2017-05-03 19:19] lokesh-shekar commented on #193
Any updates on this ?. Is someone working on this feature ?

[2017-05-03 23:28] tomdee opened #706 "Provide more concrete guidance on upgrading flannel on Kubernetes"
At the moment, the manifest doesn't specify rolling updates, but some more thought is needed to determine if the k8s 1.6 rolling update feature is useful for flannel updates.

See https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/

Current policy is "OnDelete"
[code]

[2017-05-04 02:34] ntquyen commented on #705
Thanks @tomdee I'll post this issue there

[2017-05-04 09:55] ylhyh commented on #671
@igortin , the link to yml files should change to https://raw.githubusercontent.com/...
kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel-rbac.yml
kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

[2017-05-04 13:16] aelmehra opened #708 "Failed to create SubnetManager: 501: All the given peers are not reachable"
when starting flanneld on my manager and the nodes I am receiving the following error:

E0504 09:15:03.238657   31865 main.go:151] Failed to create SubnetManager: 501: All the given peers are not reachable (Tried to connect to each peer twice and failed) [0]

I am running a cluster of CentOS VMs

[2017-05-04 17:17] tomdee commented on #655
Closed by #703

[2017-05-04 17:17] #655 closed

[2017-05-04 17:18] tomdee commented on #704
Hi @insoz . The flannel daemon needs permissions to write to that directory. You can change the permissions with `chmod`

[2017-05-04 17:18] #704 closed

[2017-05-04 17:20] tomdee commented on #193
I'm not working on, but @jon-shanks might be

[2017-05-04 17:22] tomdee commented on #193
Ooops, I forgot about this PR too - #561

[2017-05-04 17:24] tomdee commented on #708
This sounds like an etcd problem. I'm not an etcd expert, but try searching google "All the given peers are not reachable" and it looks like there are many other issues like this.

[2017-05-04 18:55] rafagsiqueira opened #709 "cp: can't create '/etc/cni/net.d/10-flannel.conf': Permission denied"
After installing kubernetes using kubeadm init and running:
`kubectl create -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel-rbac.yml`
`kubectl create -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml`
kube-flannel install-cni will fail with CrashLoopBackOff.

## Expected Behavior
Both kube-flannel containers should be ru

[2017-05-04 20:02] lokesh-shekar commented on #193
thanks. This PR merge will help us greatly

[2017-05-04 21:05] rafagsiqueira commented on #709
Selinux was enabled.

[2017-05-04 21:05] #709 closed

[2017-05-04 21:12] tomdee commented on #709
@rafagsiqueira Thanks for the update

[2017-05-05 02:42] insoz commented on #704
`setenforce 0` resolved my problem.

[2017-05-05 03:00] insoz opened #710 "Flannel cant access without `iptabels -I INPUT -s `"
Why I had to run `iptabels -I INPUT -s 10.211.55.0/24`, Then the flannel can access each other?
`10.211.55.0` is my node subnet
[code]

[2017-05-05 03:12] insoz commented on #710
Sloved, The port 8472 have to accept with iptables .

[2017-05-05 03:12] #710 closed

[2017-05-05 17:34] #638 closed

[2017-05-05 19:11] zbwright opened #711 "Docs: Add troubleshooting content."
Add title and footer information.

Add the following sections:
- Strange log messages

- Subnet reservations
** Lost leases
*** Clock issues
** Cannot allocate a lease
*** net/subnet config

- Bad performance
** Dataplane - latency, limited bandwidth
*** Backend selection
*** MTU - make sure containers are using the right value
Flannel writes an MTU setting to the env file. That is read by either

[2017-05-05 19:15] zbwright commented on #673
these two items have not yet been addressed:

- [ ] zero-downtime restarts should be moved into an upgrade section (or standalone doc) with some extra k8s focused content
- [ ] A link should be added to existing leases/reservations doc I added to answer the questions "How do I make sure that a specific host has a specific IP range"

[2017-05-05 19:20] zbwright commented on #651
This should be added to the ReadMe under Using flannel.

[2017-05-05 19:25] zbwright commented on #676
Add to the troubleshooting doc.

[2017-05-05 20:45] maxx opened #712 "Flannel always overwrites public-ip node annotation in Kubernetes on startup"
This is an issue when running flannel inside kubernetes as a daemonset on VM's with differing internal and external IP addresses (openstack).  There is no way to use the --public-ip argument to different hosts within a daemonset.   The only other way to vary public-ip on a node is to use the node annotation (flannel.alpha.coreos.com/public-ip).

The problem is flannel overwrites this annotation _e

[2017-05-05 20:47] maxx commented on #712
I'm working on a fix for this which will check to see if the `public-ip` node annotation already exists before overwriting it.

[2017-05-05 20:53] maxx commented on #712
My fix could potentially cause a problem if the internal IP of the VM changes on reboot.  Perhaps a second annotation to indicate that the IP is overridden would be good.

[2017-05-05 21:46] zbwright commented on #672
I believe that the ReadMe could still use some introductory information. Some of your original plan is still missing.
- Flannel is k8s focused and offers different datastores and different networking backends
- mention K8s (/CNI) and Docker integration, and maybe Container Linux integration.
- Flannel's relationship to Calico isn't mentioned yet
- networking details are not introduced:  L3 routed,

[2017-05-05 22:01] zbwright commented on #393
may be partially addressed.
1st item: not addressed. there was no additional info added to answer Where is the webapp client? How are messages routed from the public?
2nd item: addressed? references to multi network subnets have been removed. (experimental client-server doc is still available from the CoreOS site, but is slated for removal. https://coreos.com/flannel/docs/latest/client-server.html

[2017-05-05 22:07] zbwright commented on #463
adding
MTU is calculated and set automatically by flannel. It then reports that value in subnet.env. This value cannot be changed.
to configuration.md

[2017-05-05 22:53] zbwright commented on #663
I believe all this issue asks is for the following to be added to the Flannel instructions (so that it can be removed from "kubeadm is multi-platform" on https://kubernetes.io/docs/getting-started-guides/kubeadm/)

Installing on ARM
Installing flannel on ARM requires that you customize the curl command, depending on your platform.
[code]
Replace ARCH=amd64 with ARCH=arm or ARCH=arm64 depending on

[2017-05-05 23:24] maxx commented on #712
or perhaps a kube node label would be more appropriate for this sort of configuration data.

[2017-05-08 15:11] tuyuri2201 opened #716 "problem when modify network config"
I have gotten strange issues with flannel network ( run with vxlan backend ) . Because some reason i need to change our subnetwork for overlay network but when i try to stop flannel & change network config , i got a very strange issue , i describe steps to reproduce belows :

## Steps to Reproduce (for bugs)

1. run flannel with a certain network config config ( config1 )
 `./flanneld -etcd-endpoi

[2017-05-09 07:07] tuyuri2201 commented on #716
sorry team , that 're my problems , sometimes docker daemons cannot restart appropriately , i have to kill docker process and every thing work well

[2017-05-09 07:07] #716 closed

[2017-05-12 00:32] raeesbhatti opened #718 "Problem connecting to a TLS secured etcd"
## Expected Behavior
`flanneld` should have connected to the `etcd` server TLS certificates and should've verified the response using the certificated provided by `--remote-cafile` parameter.
## Current Behavior
It fails with the following error:
[code]
## Steps to Reproduce (for bugs)

1. Setup a TLS secured `etcd` server
2. Use [Kubernetes setup guide](https://coreos.com/kubernetes/docs/latest/d

[2017-05-12 19:33] LinEricYang commented on #535
@samarjit ran into the same issue in vagrant environment, specifying --iface= in flannel daemon works for me. Thanks.

[2017-05-12 21:30] #676 closed

[2017-05-14 02:36] drinktee opened #719 "“kube-subnet-mgr” doesn't work over 100 nodes"
## Expected Behavior
I have setup a 170 nodes kubernetes cluster. I used [this daemonset yaml](https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel.yml) to deploy flannel. Network was set 172.17.0.0/16. I found that only aboud 100 nodes works and other nodes didn't hava flannel0 , flannel.1.
## Current Behavior
The log prints 'Waiting %s for node controller to syn'. I found tha

[2017-05-15 09:27] sysit opened #720 "Got duplicate ip"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Flannel version:
* Backend used (e.g. vxlan or udp):
* Etcd version:
* Kubernetes version (if used):
* Operating System and version:
* Link to your project (optional):

[2017-05-15 09:28] #720 closed

[2017-05-15 09:43] sysit opened #721 "Got duplicate ip on flannel 0.7.0"
## Expected Behavior
when I use `kubectl get pods --all-namespace -o wide ` , find some duplicate ip for some pods
[code]

## Current Behavior
[code]

the flanneld start service :
[code]

[code]
[code]

[code]

## Steps to Reproduce (for bugs)
The cluster have been runned under flannel v0.6.2 , when the container linux update to version 1353. the flanneld update automated. now some app abnormal.

[2017-05-17 08:22] srinat999 opened #723 "Flannel issues after restarting Kubernetes Federation"
I've managed a cross platform Federation up and running. Recently, I changed the default interface of my PC where my federation is running. I went from wired to WiFi. I also had to restart the system in the process. Unfortunately, after this the Federation API server and some other pods are not coming up.

I suspect that the issue with the Flannel container, now that it is not getting attached to

[2017-05-17 17:40] tomdee commented on #723
@srinat999 I can't really tell if this is a bug or not. I've not done any testing with federations and so it's not currently supported with flannel.

But - flannel is not involved in the startup of pods, so from your description above I can't see how flannel is the issue.

I can't spin up a federation and start switching from wired to wifi to try to repro this complex issue, so I'm closing this.

[2017-05-17 17:40] #723 closed

[2017-05-17 17:41] tomdee commented on #721
Flannel doesn't assign IP addresses to pods. Maybe you have a problem with host-local IPAM plugin - in which case you should raise it in the containernetworking repo.

[2017-05-17 17:41] #721 closed

[2017-05-17 17:46] tomdee commented on #719
@drinktee Do you have the logs from the API server when this was happening?

[2017-05-17 17:48] tomdee commented on #718
Is this just bad certificates in the flannel container (or a container linux flannel-wrapper problem where the certs aren't being mounted in properly)?

[2017-05-17 17:52] tomdee commented on #712
@maxx what about having better support for selecting the public IP for flannel to use? e.g. selecting the interface or external IP by passing in a regex to flanneld (i.e. it could be put in the daemonset)

[2017-05-17 17:52] #705 closed

[2017-05-17 18:00] maxx commented on #712
@tomdee In my situation, the external IP is stored in openstack metadata.  It's not something that could be expressed in a regex and it's not assigned to any interface within the node.  Flannel has to read this data from somewhere on startup.   A node annotation is a good place (it obviously stores it there already).  We just need another annotation which is an override which flannel won't overwri

[2017-05-17 18:24] tomdee opened #725 "flannel-git builds have "dirty" in the tag"
## Expected Behavior
The string "dirty" shouldn't appear

## Current Behavior
Builds are tagged with `-dirty` at https://quay.io/repository/coreos/flannel-git?tab=history

## Possible Solution
Something changed in the build - not sure what...

[2017-05-17 20:42] tomdee commented on #712
@maxx that sounds reasonable - would you be able to submit a PR for this feature? Or if you can't write code, write the documentation for it?

[2017-05-17 23:28] tomdee commented on #719
It's possible (though I can't see how) that it could be related to the "100" here - https://github.com/coreos/flannel/blob/master/subnet/kube/kube.go#L129

[2017-05-18 05:04] raeesbhatti commented on #718
The parameters to mount certificates are same as they are for other services (etcd, kube-apiserver, etc.). The cert files are there because if they were not, it would throw an error about not being able to open the file. As I said before, I tried the same `ca.pem` with CURL and it works alright.

[2017-05-18 20:54] Capitrium commented on #719
I'm running into the same issue - kube-flannel seems to hang on new nodes once the cluster has reached 100 running nodes. The kube-flannel logs shows "Waiting 10m0s for node controller to sync", but that timeout never seems to expire. I don't see any red flags in the logs myself, but I've included them below.

Logs from a broken kube-flannel pod, which has been running for ~30 minutes now:
[code]

[2017-05-19 00:09] kfox1111 opened #727 "flannel.conf exists."
[root@k8s-test-core charts]# kubectl logs -n kube-system -f kube-flannel-ds-fqkp3 -c install-cni
+ cp -f /etc/kube-flannel/cni-conf.json /etc/cni/net.d/10-flannel.conf
cp: can't create '/etc/cni/net.d/10-flannel.conf': File exists

The install container's failing to overwrite after the node it was on was rebooted.

used the newest daemonset for k8s.

[2017-05-19 00:14] kfox1111 commented on #727
nm. I finally figured out that selinux reenabled.

[2017-05-19 00:14] #727 closed

[2017-05-19 00:40] kfox1111 opened #728 "pod cidr not assgned"
Seeing something strange. if I delete the node from k8s and reboot it, flannel fails to fully start, getting stuck in a loop:

E0519 00:37:28.550351       1 network.go:102] failed to register network: failed to acquire lease: node "k8s-test-2.novalocal" pod cidr not assigned
E0519 00:37:29.551107       1 network.go:102] failed to register network: failed to acquire lease: node "k8s-test-2.novaloca

[2017-05-19 00:58] tomdee commented on #719
Thanks @Capitrium  - I managed to repro the problem. I've added a fix in #729

[2017-05-19 00:59] tomdee commented on #728
What do you mean by

Flannel needs to fetch the `podCidr` from the node before it can start.

[2017-05-19 01:04] kfox1111 commented on #728
for some reason that one node isn't working. I did a:
kubectl delete node k8s-test-2.novalocal

then rebooted the node to ensure it wasn't carrying any state in k8s so it would retry to register the node to see if it woudl get a new pod network configured to fix the issue. it didn't help.

doing a diff between a working node and the non working one shows:
-Annotations:           node.alpha.kuberne

[2017-05-19 04:51] sjpotter opened #730 "enable machines to access the network without allocating a subnet"
Flannel as designed seems to only take into account that the network would be used by containers running on multiple nodes.  However, it seem like a legitimate use case to enable a hybrid environment where you have containers and "regular" machines interacting.  i.e. the regular machine will have a "regular" ip address but it has to know how to route to the containers and that's where flannel come

[2017-05-19 12:43] KDF5000 opened #731 "Flannel.1 cannot forward the packets to docker0"
Hi,
   I deployed k8s cluster with two nodes using Flannel as the overlay network. The deployment env is:
OS: Ubuntu 14.04
Kubernetes: 1.6.2
Etcd: 3.1.5
Flannel: 0.7.1

One physical node(A) is as master and node , while another(B) is just node. Then I create a pod on each node. I can ping the pod on the Master node(A) from B successfully, but cannot get response when ping the pod on B from A. So I

[2017-05-19 23:25] #719 closed

[2017-05-19 23:25] tomdee commented on #719
See the flannel-git repo on quay if you want an image to try out.

[2017-05-20 07:33] berlinsaint commented on #731
i meet the same problems wit you. can forward packets to docker0,my issue：https://github.com/kubernetes/kubernetes/issues/46077

[2017-05-20 07:52] KDF5000 commented on #544
@TehesFR I met the same issue. Have you found any solution ?

[2017-05-20 16:00] defcyy commented on #731
@KDF5000 the problem seems to be the same as #609 ,  `sudo iptables -P FORWARD ACCEPT` works for me.

[2017-05-21 00:01] berlinsaint commented on #731
@defcyy  i don't know how @KDF5000 did, i did the  `sudo iptables -P FORWARD ACCEPT` ,
but not use, i make sucess sometimes , but when i delete the pods ,and after the pods rebuilt, the same issues became.

[2017-05-21 02:08] berlinsaint commented on #731
very strange, i did do the `sudo iptables -P FORWARD ACCEPT` , and i see the policy is accept when i use iptables -L;
but it seems like the kernel dosen't  take effect. My ubuntu 14.04 kernel version both are `Linux i-40C8C8F5 3.13.0-24-generic #46-Ubuntu SMP Thu Apr 10 19:11:08 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux`
Then i use `iptables -I FORWARD -s flannelsubnet   -j ACCEPT` ,it works well,

[2017-05-21 03:01] KDF5000 commented on #731
@berlinsaint @defcyy my linux kernel version is the same as yours. I added  the forward rule "iptables -P FORWARD ACCEPT" ,but  it still did not work. The flannel version you use is 0.7.1?

[2017-05-21 03:17] berlinsaint commented on #731
@KDF5000 071 too, i guess your kernel version is 3.13 right? i update my kernel ,the problem solved.

[2017-05-21 03:21] KDF5000 commented on #731
@berlinsaint yes, it is 3.13.0-24. Did you upgrade to 16.04 or rebuild a new kernel?

[2017-05-21 03:23] berlinsaint commented on #731
nop,  just upgrade the kernel. use
` sudo apt-get install linux-generic-lts-wily`

[2017-05-21 03:24] berlinsaint commented on #731
靠，都是中国人，QQ 66375364  一起交流

[2017-05-21 03:30] berlinsaint commented on #731
你要是 升级内核后也解决问题了，我建议我们提一个issue，官方flannel貌似没有说 有内核限制吧？我好像没看到。

[2017-05-21 04:58] KDF5000 commented on #731
@berlinsaint @defcyy when I upgrade  the kernel version to 4.2.0-42-generi,  the rule works! Thanks!! @berlinsaint @defcyy

ps: @berlinsaint 你的qq需要验证[捂脸]

[2017-05-21 06:47] KDF5000 commented on #731
@berlinsaint @defcyy After I upgrade the kernel to 4.2.0-42, it works! Thanks!! @berlinsaint @defcyy

There are some related issues which will be helpful:
[https://github.com/moby/moby/pull/28257](https://github.com/moby/moby/pull/28257)
[Support VXLAN on Kernels <= 3.15](https://github.com/docker/libnetwork/issues/329)

ps: @berlinsaint 你的qq需要验证[捂脸]

[2017-05-21 12:22] berlinsaint commented on #731
## 我发邮件给你， 你回复我下 @KDF5000

[2017-05-22 03:00] gojoy opened #733 "cannot delete bridge flannel.1"
Hi:
I deployed docker with flannel  for test. the deployment env is :
OS: Centos 7.3
flannel: 0.7.0
docker: 1.12.6

Now I want to remove flannel. but cannot delete bridge flannel.1
`ifconfig flannel.1 down`
`brctl delbr flannel.1`
then I got following message:
`can't delete bridge flannel.1: Operation not permitted`(I have used root to run  commands)
so How can I delete flannel.1 ?   thanks

[2017-05-22 11:48] #731 closed

[2017-05-22 11:53] KDF5000 commented on #733
I use "ip link del flannel.1" to delete the device on ubuntu. I guess that it will work too.

[2017-05-22 17:49] tomdee commented on #733
flannel.1 isn't a bridge, it's a vxlan device, so the suggestion from @KDF5000 is what you need

[2017-05-22 17:49] #733 closed

[2017-05-23 13:20] gojoy commented on #733
Got it. Thanks

[2017-05-23 14:59] glennmcallister commented on #718
I'm observing similar behaviour with a new cluster I'm trying to deploy, although the versions are slightly different:

* Flannel version: v0.7.0
* Backend used (e.g. vxlan or udp): vxlan
* Etcd version: v3.1.6
* Operating System and version: Container Linux by CoreOS stable (1353.7.0)

[code]

I've tried various ways of providing the certificate configuration to `flanneld`, last one looks like th

[2017-05-23 15:41] glennmcallister commented on #718
So, I managed to get this to work. The TL;DR is that `/etc/ssl/certs` is not in the set of directory mounts that `flannel-wrapper` provides by default.

The quick workaround was for me to copy my cert chain into `/etc/kubernetes/ssl` as `bcl-ca.pem`, and voila, it all worked:

[code]
So, what I'm confused about is the following:

[code]

And later:

[code]

We have two volume mounts pointing at th

[2017-05-23 15:50] glennmcallister commented on #718
So, in all fairness, what I'm observing isn't a flannel bug, it's a Container Linux bug; any advice as to the best place to write this up?

[2017-05-24 04:19] tomdee commented on #718
@glennmcallister Thanks for investigating this - I think it can be raised at https://github.com/coreos/coreos-overlay but I'll flag it with the CoreOS team too.

[2017-05-24 17:21] crawford commented on #718
It should be fixed by https://github.com/coreos/coreos-overlay/pull/2571.

[2017-05-24 19:12] sjpotter commented on #730
I'm digging into this in trying to understand flannel and how one would approach this

There are 2 aspects from what I can see to flannel

1) getting a subnet for the local machine (and setting it up as necessary)
2) ensuring that the local machine can access the rest of the network

1 isn't really necessary in what I'm proposing, but without doing major surgery to the code base probably doesn't f

[2017-05-25 19:43] caseydavenport opened #734 "Support OnlyLocal annotation on Kubernetes"
As discussed in this issue: https://github.com/kubernetes/kubernetes/issues/44963

## Expected Behavior
Flannel should not perform MASQUERADE on external traffic which arrives on a Node that owns the targeted container/pod IP address.

## Current Behavior
Flannel currently adds a MASQUERADE rule which masks any traffic from outside the container network destined to the container network as a means

[2017-05-26 07:58] manuperera commented on #734
Thanks for the workaround.
Do you know if the next version of flannel (0.8) will fix this problem?

[2017-05-26 08:17] kewaike opened #735 "How to let flannel work with openvpn ？"
Openvpn server installed flannel ，I want to connect openvpn visit flannel virtual network，How to let flannel work with openvpn ？

[2017-05-26 22:50] gtirloni commented on #728
I'm facing the same issue with Kubernetes 1.6.4 (kubeadm). Applied the files below:

https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel-rbac.yml
https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

[code]

[2017-05-27 07:37] willise opened #736 "Failed to install kube-flannel add-on on kubeadm"
I try to install flannel addon after installing kubeadm but there got "CrashLoopBackOff" when **get pods**.

## Expected Behavior
kube-flannel-ds- pod's status becomes running.

## Current Behavior
**kcm logs kube-flannel-ds-hdqb4**
[code]

## Steps to Reproduce
YAML link is:
https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel.yml

**kubectl apply -f kube-flannel.yml**

## You

[2017-05-27 22:13] gunjan5 commented on #736
@willise I think you're getting that `BadRequest` error because you haven't specified the container in the pod. you should add the flag `-c  kube-flannel` to specify the container in the pod (since there are two containers in the pod)

Alternatively, you can also do a `kubectl describe pod <pod-name> -n kube-system` to see what's going on in the pod

[2017-05-30 17:43] somejfn commented on #734
Workaround works for me too. I have great interest in this as we can make some real use of advanced policies and CIDR selectors in an ingress rule.

[2017-05-31 01:27] willise commented on #736
@gunjan5 But where to add the flag `-c kube-flannel`? command like `kubectl apply -f kube-flannel.yml -c kube-flannel` makes errors.

[2017-05-31 02:54] holygits commented on #427
I'm facing this problem but the IP in question is for an end point rather than a service
`flannel-wrapper[21821]: I0531 02:51:48.031256   21821 network.go:243] L3 miss but route for 10.2.77.2 not found`

[2017-05-31 09:55] jhaohai opened #738 "What is the real performance of flannel"
Hi all

We are deploying openshift platform and I have some simple investigation on flannel.
Here is our environment:
AWS VPC  cn-north-1
CentOS 7.3 with enhanced networking enabled
kernel 3.10.0-514.21.1.el7.x86_64
flannel 0.7.0 with vxlan backend

Below is my procedures:

1. start iperf3 on host01
   `iperf -s`

2. iperf test with host ip on another host
    `iperf -c hostip -t 60`

3. iperf tes

[2017-06-01 11:13] daniilyar commented on #603
Fix from @adaiguoguo helped me on K8 1.5.4 + Flannel 0.6.2 + Docker 1.13.1 also.

[2017-06-01 17:14] xh3b4sd opened #739 "flannel network state not cleaned up"
## Expected Behavior
When adding network configuration to etcd Flannel picks it up and creates a lot of state, like bridges and env files and config files. When removing the state from etcd, the file system is not cleaned up nor is the bridge. I would expect Flannel to take care about a cleanup in case some network is not used anymore, but this does not happen.

## Current Behavior
Unused/unwanted

[2017-06-02 03:57] maxx commented on #712
I will try to get time this week.. I think I'll just check for a "public-ip-override" node annotation and if that doesn't exist, then move on to default behavior.

[2017-06-05 15:44] ericchiang commented on #736
@willise the error is telling you to provide an argument like `kube-flannel` to your kubectl log command. That error isn't from flannel.

[code]

[2017-06-06 01:20] willise commented on #736
@ericchiang Got it and thanks.

[2017-06-06 01:20] #736 closed

[2017-06-06 16:38] #616 closed

[2017-06-08 21:15] #463 closed

[2017-06-08 22:47] zbwright opened #740 "docs: add zero downtime restarts info for the docs"
This item was left over from the flannel doc upgrade we did a month ago. Josh volunteered to handle it. Moving it here to clean up all the little odds and ends left over from that project.

- [ ] zero-downtime restarts should be moved into a or standalone doc with some extra k8s focused content

original issue: https://github.com/coreos/flannel/issues/673

[2017-06-08 22:48] zbwright commented on #673
Created a new issue to add a doc on zero downtime restarts, in order to close this issue. Closing.

[2017-06-08 22:48] #673 closed

[2017-06-08 22:52] zbwright opened #741 "docs: Add a 'ping between two pods' page for flannel."
Leftover from the Flannel doc update: https://github.com/coreos/flannel/issues/672

Write a page describing how to ping between two pods.

[2017-06-08 22:55] zbwright opened #742 "docs: augment flannel ReadMe"
some of the items leftover from the great flannel rewrite of 2017. pulled from https://github.com/coreos/flannel/issues/672, and listed here:. Please take a look, and see if these are still necessary.

- Flannel is k8s focused and offers different datastores and different networking backends
- mention K8s (/CNI) and Docker integration, and maybe Container Linux integration.
- Flannel's relationshi

[2017-06-08 22:55] zbwright commented on #672
I'm going to pull the remaining tasks out of this issue, create a new one referencing them, and close this issue.

ping between two pods: https://github.com/coreos/flannel/issues/741
add a few items to the readme: https://github.com/coreos/flannel/issues/742

closing this ticket.

[2017-06-08 22:55] #672 closed

[2017-06-09 12:04] ecsumed opened #743 "kube-flannel-ds pod fails on worker nodes with a timeout when trying to reach the Service IP"
I have an existing HA cluster with 2 masters and 2 nodes created using [the CoreOS k8 guide.](https://coreos.com/kubernetes/docs/latest/getting-started.html) Everything looks good until I try to add flannel. The problem is that the kube-flannel-ds pod on the WORKER nodes keeps failing and restarting. The kube-flannel-ds pods on the masters work fine.

## Expected Behavior
The kube-flannel-ds pods

[2017-06-09 18:00] tomdee commented on #738
I think your test is fine. vxlan can do many GBPS so you will only see the performance drop compared to no encapsulation if you have a fast enough network.

[2017-06-09 18:00] #738 closed

[2017-06-09 18:05] tomdee commented on #743
The problem is that flannel can't contact the K8s API server
` Failed to create SubnetManager: error retrieving pod spec for 'kube-system/kube-flannel-ds-fxbfs': Get https://10.3.0.1:443/api/v1/namespaces/kube-system/pods/kube-flannel-ds-fxbfs: dial tcp 10.3.0.1:443: i/o timeout`

Flannel shouldn't be using the flannel network for contacting the API server. Do you know where that IP (10.3.0.1) has

[2017-06-09 18:05] #743 closed

[2017-06-09 18:28] tomdee commented on #725
This seems to be resolved now.

[2017-06-09 18:41] tomdee commented on #668
This is now fixed

[2017-06-09 18:41] #668 closed

[2017-06-13 07:34] fatg1988 opened #746 "flannel can not work on node"
flanneld/docker version
docker-17.04.0-ce
flannel-v0.7.1-linux-amd64
4.4.71-1.el7.elrepo.x86_64

node1
`[root@iz2ze8 k8s]# ifconfig
docker0: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1450
        inet 192.168.31.1  netmask 255.255.255.0  broadcast 0.0.0.0
        ether 02:42:4f:e1:46:4a  txqueuelen 0  (Ethernet)
        RX packets 17166  bytes 3295342 (3.1 MiB)
        RX errors 0  dropped 0

[2017-06-13 11:02] anthony-joyeux opened #747 "vendor/k8s.io/client-go/rest/request"
Hi, I don't know why but when I am trying to setup flannel using make dist/flanneld, I get this answer :

make dist/flanneld
go build -o dist/flanneld \
  -ldflags "-X github.com/coreos/flannel/version.Version=v0.8.0-rc1-10-g402fdde"
# github.com/coreos/flannel/vendor/k8s.io/client-go/rest
vendor/k8s.io/client-go/rest/request.go:660: req.WithContext undefined (type *http.Request has no field or me

[2017-06-14 06:50] fatg1988 commented on #746
@spacexnice 你好 这是阿里云两个账户下面的两台ecs ，是不是用ali-vpc这个类型 就可以了~~~

[2017-06-14 07:17] AlawnWong commented on #736
How to deal with this problem?

[2017-06-14 18:09] euank commented on #747
This method was introduced in go1.7. It seems likely you're using an old, unsupported, version of go.

[2017-06-14 23:38] #674 closed

[2017-06-15 18:26] #725 closed

[2017-06-15 21:02] #747 closed

[2017-06-15 21:03] tomdee commented on #746
I'm not sure what problem you're describing here. I appreciate the detailed diags, but could you describe the actual problem your seeing.

[2017-06-15 21:03] #746 closed

[2017-06-15 21:16] tomdee commented on #739
I don't fully understand your problem, so maybe you can add a little more detail.

The filesystem state is only a single file.
The network stack is left up on purpose, in order to facilitate zero-downtime restart/upgrade.

I'd love to hear more about the flannel-operator that you're writing but your link above doesn't work.

[2017-06-15 21:16] tomdee commented on #735
Sorry, we don't have a guide for this at the moment.

[2017-06-15 21:16] #735 closed

[2017-06-15 21:41] xh3b4sd commented on #739
You may want to ask a specific question. I was under the impression to provide a detailed description of the problem. I cannot be more specific out of thin air.

Even though this is only a single file it would be better to not "pollute" the server host. I fear to reuse certain configuration by accident which is not supposed to be reused because another bridge was created for the same VNI. The bott

[2017-06-15 22:01] tomdee commented on #730
Thanks for the suggestion @sjpotter it's a very interesting idea.

I think this could be a really useful feature. First some terminology that I can reference further down
* "Normal hosts" have containers on them (that get their own IP addresses) and the host get a subnet lease to allow it to assign addresses to the containers.
* "Leaseless hosts" don't get a subnet lease so they can't give IP addr

[2017-06-15 22:04] tomdee commented on #728
@kfox1111 The node needs to have a podCidr. Can you check if it does - `kubectl get nodes -o jsonpath='{.items[*].spec.podCIDR}'`

[2017-06-15 22:06] tomdee commented on #728
@gtirloni Did you see this note in the kubeadm docs

[2017-06-15 22:06] #728 closed

[2017-06-15 22:06] #718 closed

[2017-06-15 22:06] #708 closed

[2017-06-15 22:09] kfox1111 commented on #728
yes. not all nodes didn't get their allocations, only some nodes. that really seems like a bug to me.

[2017-06-15 22:22] sjpotter commented on #730
so vxlan is a bit over my head at this point, but doesn't it come down to how packets are routed?

i.e. flannel assigns a /24 space to leaseless hosts.  This wouldn't be a routable subnet (unlike the subnet a "normal" host gets), flannel will have to route each ip assigned from the /24 independently, its in some ways can be viewed as simply a dhcp space.

leaseless hosts will then has a physical i

[2017-06-15 22:40] zbwright opened #749 "docs: sync CoreOS docs to reflect flannel readme.md"
CoreOS flannel page (https://coreos.com/flannel/docs/0.7.1/) is incomplete, and should list all files linked to from the flannel ReadMe (https://github.com/coreos/flannel/blob/master/README.md). can we fix, please?

[2017-06-15 22:42] tomdee commented on #730
When vxlan is being used, there is more going on that just pure routing.

Let say we have two hosts, and a flannel network of 192.168.0.0/16
* Host A is a "normal" host that has the subnet 192.168.1.0/24 assigned to it.
   * It has one container running on it that has an IP address of  192.168.1.1
   * It has a single NIC with the address 10.0.0.1
* Host B is  "leaseless" host, with no subnet assi

[2017-06-15 22:42] zbwright commented on #749
@joshix I can neither assign nor label issues in this repo.

[2017-06-15 22:42] tomdee commented on #749
@zbwright Who are you asking 😄?

[2017-06-15 22:43] tomdee commented on #728
👍 You'll need to raise that with kubeadm team

[2017-06-15 22:44] zbwright commented on #663
@tomdee should I create a PR for this addition to the running.md doc?

[2017-06-15 23:15] sjpotter commented on #730
Ok, I believe I have more clarity on the issue, namely there's lack of support for controlling the "source" address.

so a thought experiment that I don't know if is possible

Imagine we allocated 192.168.10.0/24 to be the ip space for "leaseless" hosts.

For Host B, we allocate ip (ala dhcp) 192.168.10.54 to be its "vxlan" ip address.  If outgoing packets from Host B looked like they were coming

[2017-06-15 23:20] kfox1111 commented on #728
If some nodes get assigned a pod cidr but others not, is that a kubernetes issue or a kubeadm issue? I would think k8s itself maybe?

[2017-06-15 23:21] kfox1111 commented on #728
or does flannel ask for a pod cidr to be allocated by the api server?

[2017-06-15 23:43] sjpotter commented on #730
Where I can believe my thought experiment falls down is that the socket host B uses to connect to host A's container will be bound to IP 10.0.0.2 and routing the packets from 10.0.0.1's container will still be problematic.

on the flips side, what if 10.0.0.1 had a nat type mechanism so that any packets its sending destined for 192.168.10.54 get rewritten for 10.0.0.2.  Dont know if vxlan type mec

[2017-06-16 00:57] #562 closed

[2017-06-16 13:49] joshrosso commented on #392
@tomdee @philips

I setup a cluster routing to 2 nics yesterday using the `vxlan` backend as described by @tomdee. I believe this issue can be closed?

[2017-06-19 10:52] answer1991 opened #751 "flannel does not generate correct ip route rules"
Hi, I use fannel to set up a virtual network for multi nodes docker cluster.

Network Config:

[code]

- 1. I Run fanneld using docker container

[code]

- 2. replace "bip" and "mtu" in docker.service file

[code]

- 3. Remove docker0 link

[code]

- 4. Restart Docker

[code]

After these 4 steps, the ``ip route`` result is:

[code]

Then, I try to ping a container(ip: 192.168.14.2) on an another

[2017-06-19 11:20] vijaykumark commented on #392
@tomdee @philips @joshrosso
We are not using vxlan backend and we are not using UDP.
We use two physical ethernet/fiber networks attached over two ethernet interfaces to the same server. All the networking is managed externally by different switches.
So, for the server will not know how the networks are managed once the traffic goes out of the ethernet interfaces.
Is it possible to attach flanneld

[2017-06-19 16:29] #734 closed

[2017-06-20 00:21] tomdee commented on #751
Do you know what created the bad route originally? Could you repro on a clean host and find out when that route gets created (using `ip mon`

[2017-06-20 03:40] answer1991 commented on #751
Hi @tomdee , thanks for your reply.

I found the bad route is created by the vm clone template. I re-cloned the machine and try to reproduce this issue, the ``ip route`` command result :

[code]

After del ``192.168.0.0/16 via 10.244.31.247 dev eth0`` rule, and create the network, then the correct route rule generated.

Thanks for your reply. I will close this issue.

[2017-06-20 03:41] #751 closed

[2017-06-20 13:52] yurchenkosv opened #753 "Pods network traffic doesn't goes through the flannel"
## Expected Behavior

I expected that pods can communicate with kubernetes api-server and dns service via kubernetes services.

## Current Behavior

At this moment, pods only can communicate with apiserver via public address, not via address, leased by flannel.
I can see that on kubernetes node:

        inet 172.17.0.1  netmask 255.255.0.0  broadcast 0.0.0.0
        inet6 fe80::42:b6ff:fe70:c144

[2017-06-21 04:29] cizixs commented on #621
Has this issues too, but it does not happen every 24 hour, but occasionally.

The headache is there is no easy way to **reproduce**, and the issue does not have enough information/logs to tell me why it is behaving like this.

[2017-06-21 10:31] cizixs commented on #621
@Agrosis So you manually set TTL for all subnets to `0`?

[2017-06-21 10:40] cizixs commented on #621
@tomdee  What is the purpose of TTL of subnets?
In my opinion, flannel will renew the lease 1 hour before expiration by default. In the worst case, flannel will reallocate a subnet if it stopped for one hour and restarted.

Does it make more sense if flannel  periodically update TTL?
Or if I'm not using TTL, can I turn it off with a parameter instead of setting etcd subnets key TTL to 0 by hand?

[2017-06-22 06:21] wjp719 opened #755 "flannel 0.7 cannot get network config from etcdv3.1.5 with api version2, how to configure flannel to use etcd v3 api"
## Your Environment

* Flannel version: 0.7
* Backend used (e.g. vxlan or udp): udp
* Etcd version: 3.1.5
* Kubernetes version (if used): 1.6.6
* Operating System and version: ubuntu 16.04
* Link to your project (optional):

the flannel log:
E0622 14:04:43.257244    6229 network.go:102] failed to retrieve network config: 100: Key not found (/coreos.com) [17]
E0622 14:04:44.261566    6229 network.g

[2017-06-22 10:34] libn-net commented on #412
@euclid-geometry could you share your solution?  thank you.

[2017-06-22 20:57] tomdee commented on #755
Flannel currently only supports the etcdv2 API (but you can still run etcd v3.x)

[2017-06-22 20:57] #755 closed

[2017-06-22 20:58] tomdee commented on #753
Why are you trying to access the k8s-api using the the pod network? It's better to just use the host network for the API server.

[2017-06-23 01:27] wjp719 commented on #755
@tomdee Hi, in my environment, flannel cannot get the network config from etcdv3 with v2 api, does it need additional configuration in etcd or flannel, thanks

[2017-06-23 08:35] yurchenkosv commented on #753
@tomdee Thanks for your answer. Actualy, I've tried many ways to get it run. If I've specify host network it's run as I expecting, but question is no one pod can communicate with internal k8s services. And no one pod can resolve dns name of another pod because of no traffic can reach pods via pod network. This is very sad, because I've no ability to use internal k8s services and all connections wi

[2017-06-23 08:41] yurchenkosv commented on #753
Here is my configs, if it's might be helpfull
[code]
[code]
[code]
[code]
[code]

[2017-06-25 15:06] tz-lom commented on #712
Any luck with that problem? I like "public-ip-override" sollution, it usable not only with OpenStack - my hosting provides eth0 with local ip, and public ip can't be easy acquired on the machine

[2017-06-26 01:04] kfox1111 commented on #463
Not sure this really is the fix?

I have a cluster with some vm's in a cloud, and some bare metal nodes in the same flannel. the mtu on the physical hosts is different from the mtu on the vm's. So the overall flannel mtu should be the min(mtu) of all the nodes.

I'm also looking closely at using the kube-api setting. we need a way to manually specify the mtu in that mode I think.

[2017-06-26 05:32] eyakubovich commented on #463
@kfox1111 flannel network is IP based (not L2) so it can have different MTU sizes. It's just like it is on the Internet. IP fragmentation, or more realistically, Path MTU discovery should take care of making it work.

[2017-06-26 15:33] luxas opened #758 "docs: Add a Documentation/kubernetes.md page"
## Current Behavior

Currently there is no documentation about the Kubernetes CNI integration works.
It's not obvious that you have to install RBAC rules.
The users have no idea what the `kube-flannel.yml` manifest will do, but apply it anyway.
It's nowhere stated the requirement for having `10.244.0.0/16` as the `cluster-cidr` in controller-manager's args.
etc. etc. etc.

## Expected Behavior

Th

[2017-06-26 15:49] luxas commented on #758
Example: https://github.com/kubernetes/kubernetes.github.io/pull/2389#issuecomment-311076232

[2017-06-26 15:52] kfox1111 commented on #463
flannel is l3 on top of l2 inside l3 on top of l2 via vxlan... there isn't a problem with overlay l2 packets being received if the receiving end has its overlay mtu smaller then the sender? I would expect this to cause packet drops.

container -> l3 -> l2 -> vxlan  ------------ to different host ----------------- vxlan -> l2 (here) -> l3 -> container

It might work for tcp. but I don't think MSS w

[2017-06-26 17:34] eyakubovich commented on #463
@kfox1111 I think you're right. PMTUD over tunnels (and specifically VXLAN) is a hairy subject that might not be working. I think vxlan device should forward any "Fragmentation Needed" messages it receives, reducing Next-Hop MTU by its own overhead. But I'm not sure if it does that. So yeah, I agree that for now, adding a network-wide MTU override is a good idea.

However, I'm no longer involved w

[2017-06-29 21:41] tomdee opened #760 "flannel has problems if public IP changes"
If I change the public IP that flannel is using then restart the daemon, it fails to start.

## Expected Behavior
It should start up and use the existing lease but with a new public IP

## Current Behavior
[code]

## Steps to Reproduce (for bugs)
[code]
## Your Environment
* Flannel version: master code
* Backend used (e.g. vxlan or udp) any:
* Etcd version: any
* Kubernetes version (if used): any

[2017-06-30 18:08] #760 closed

[2017-06-30 18:42] tomdee commented on #758
@luxas Thanks for raising this. I'm working on fixing it at the moment

[2017-07-03 22:58] jraby opened #763 "Conflicting options in sample kube-flannel.yaml (--kube-subnet-mgr vs Network in net-conf.json)"
## Expected Behavior
I was trying out k8s along with flannel with the host-gw backend and came across a small inconsistency wrt to the sample `kube-flannel.yaml` and the subnet lease that is given out to a node.

In the sample `kube-flannel.yaml` file, `net-conf.json` contains a `Network` key:

[code]

Which kind of implies that this parameter (along with other subnet parameters such as `SubnetLen

[2017-07-05 16:10] calvix commented on #739
This creates a problem when we delete network with specific VNI and later want to use the same VNI with a different network. `flannel.x` will still have the old network and this broke flannel functionality

Is there a way how to force remove it?

[2017-07-06 11:52] antoineco commented on #763
Besides `net-conf.json` doesn't seem to be used anywhere.

[2017-07-06 13:20] antoineco commented on #763
I guess this was just to get people covered in case the `--cluster-cidr` `kube-controller-manager` flag is not set.

[2017-07-07 00:15] tomdee commented on #763
Some backends need to know the global cluster-cidr (host-gw doesn't IIRC). flannel reads this value from the file and not from the kubernetes API (again IIRC).

[2017-07-07 10:43] zq-david-wang opened #765 "Use both vxlan and host-gw as flannel backend at the same time"
This is just a Feature Request. (I did not find anyone bring this up before.)
I think it is a good idea to combine vxlan and host-gw together to make a backend for a cluster which has several sub-networks: within each sub-networks, packages are routed via host-gw since those hosts are connected together, and vxlan is used for inter-networks package routing.

I used to use vxlan as flannel backend,

[2017-07-07 16:56] tomdee commented on #765
@zq-david-wang thanks for raising this issue. It's something I've been thinking about for a little while and would welcome PRs for it. I'm also hoping to find some time to work on it in the next few months.

It would be similar to the cross-subnet ipip mode in calico - http://docs.projectcalico.org/v2.3/usage/configuration/ip-in-ip

[2017-07-07 22:25] tomdee commented on #758
I see that did try to get this added to the README back in April - https://github.com/coreos/flannel/issues/672#issuecomment-293684413

[2017-07-08 03:11] zq-david-wang commented on #765
@tomdee  Glad to hear that~!

[2017-07-08 17:26] IanLuites opened #766 "Flannel service errors on start: unsupported protocol scheme "" using systemd"
## Expected Behavior
No connection errors through systemd.

## Current Behavior
Currently the following service file will fail to start `Flannel`, because it can not connect to etcd:
[code]

Starting flannel will generate following error message over and over:
[code]

I've tested all the certificates by testing the connection to `etcd` with `curl`, `wget`, and `etcdctl`.

I also ran the following

[2017-07-08 20:48] oneiros-de commented on #248
Just curious since this ticket will be two years old soon: Is anybody working on it?

[2017-07-10 07:12] garyyang85 commented on #427
The issue can be replaced on v0.6.2

[2017-07-10 07:22] garyyang85 commented on #427
@tomdee can we reopen this issue?   I use kargo to deploy a kubernetes env with flannel, the flannel subnet changed by some unknown reason, which is a serious issue.

[2017-07-10 22:06] tomdee commented on #427
Can you repro it on v0.7.1? v0.6.2 is quite old...

[2017-07-11 10:09] nesc58 commented on #554
Is anyone working on this issue? There're huge issue to create backups for v2 (flannel) and v3 (e.g. kubernetes). The clientv3 for etcd is in the official repo. Are there unsolved issues or is this a personal/timing problem to solve this issue in one of the next versions?

[2017-07-11 17:18] #711 closed

[2017-07-11 17:18] #742 closed

[2017-07-11 17:18] #758 closed

[2017-07-11 18:31] tomdee opened #767 "Confusing log about previous subnet on startup"
## Expected Behavior
[code]

## Current Behavior
[code]

## Your Environment
* Flannel version: 0.8.0
*

[2017-07-12 00:28] tomdee commented on #620
This is now fixed in v0.8.0

[2017-07-12 00:28] #620 closed

[2017-07-12 00:30] tomdee commented on #765
Closing as a dupe of #519

[2017-07-12 00:30] #765 closed

[2017-07-12 00:32] tomdee commented on #29
This is now fixed in v0.8.0

[2017-07-12 00:32] #29 closed

[2017-07-12 09:46] emilebosch opened #769 "Incomplete docs on provisioning ssl certs via ignition"
Ignition communicates all the time about having an SSL directory for Flannel/etc. etc. But it really doesnt tell you 'how' those files would get there.

## Expected Behavior
Good docs from start to finish how to setup flannel /with SSL (and thus putting the SSL certs somehow magically in the machine during ignition startup)

## Current Behavior
Completely clue-less person that really can spend dev

[2017-07-12 13:29] tomdee commented on #296
I've removed the unused sections around logging. I don't think this is an urgent feature (it's been open for so long) so closing.

[2017-07-12 13:29] #296 closed

[2017-07-12 13:37] tomdee commented on #766
Hmmm, that seems strange. Maybe @euank has an idea? My only suggestion would be to try environment variables. https://github.com/coreos/flannel/blob/master/Documentation/configuration.md#environment-variables

[2017-07-12 13:43] tomdee commented on #753
Do you have the log output? Have you considered just using the kube-subnet-mgr?

[2017-07-12 16:19] IanLuites commented on #766
Thanks for the response!

I started with replacing them with environment variables when I noticed the difference in the arguments.

I've used single `-` in stead of `--`. Funny that it parsed the arguments with single dashes when I manually entered them.

[code]

Is now working! Sorry for the trouble, I'll close it.

[2017-07-12 16:19] #766 closed

[2017-07-13 09:10] Doron-offir opened #770 "Flannel not starting on a new node."
Hi Guys,

We have a k8s 1.6.2 cluster, running on AWS. We have used KOPS 1.6.2 to create the cluster.

We have several node pools for the different application roles, as DBs, workers and proxies.
We are also using spot instances for the workers, managed by Spotinst with their customized k8s Autoscaling pod.
We have made our tests on k8s staging cluster of version 1.5.6 and 1.6.0, and we did not en

[2017-07-13 22:03] tomdee commented on #770
Hi @Doron-offir, sorry you hit these issues. I suspect that you were hitting the problem where flannel wouldn't start with kube-subnet-mgr and >100 nodes. https://github.com/coreos/flannel/issues/719 This is fixed in v0.8.0 (https://github.com/coreos/flannel/releases/tag/v0.8.0) so I suggest you raise an issue with Kops to get it updated to the new flannel release.

[2017-07-13 22:03] #770 closed

[2017-07-14 10:20] wzhliang opened #772 "flannel not working with portmap plugin"
With 0.8.0, flannel doesn't work with portmap plugin in a plugin chain

## Expected Behavior

when flannel is configured to work with portmap plugin in a chain, any container with `hostPort` should have a iptables rule setting up on the host.

## Current Behavior

No firewall rule is added. No host port available.

## Possible Solution

## Steps to Reproduce (for bugs)

1. install k8s 1.7
2. insta

[2017-07-14 12:37] cdickson-sum opened #773 "ARM 0.8.0 image fails to load libc.so.6 in k8s v1.7.0"
On initial building out of a k8s cluster on ARM system the flannel install fails to start. Goes into a "CrashLoopBackOff"

## Expected Behavior
Should move to a Running status in k8s

## Current Behavior
Fails to start. Log reports:

/bin/sh: error while loading shared libraries: libc.so.6: cannot open shared object file: No such file or directory

## Steps to Reproduce (for bugs)
1. Set up k8s vi

[2017-07-14 15:18] zbwright commented on #749
maybe @athai can help with this?

[2017-07-14 17:28] tomdee commented on #772
plugin chaining is a CNI concept so the issue here is most likely with the CNI plugin. It's a little confusing but the CNI plugin is actually in a different repo - it's over at https://github.com/containernetworking/plugins. So I'm going to close this issue and raise a new one over there.

[2017-07-14 17:28] #772 closed

[2017-07-14 17:57] tomdee commented on #773
I just tried spinning up a free ARM vm from Scaleway (https://www.scaleway.com/instantcloud/) - I ran
[code]

And it appeared to run OK

[2017-07-14 18:31] cwalker67 commented on #773
@tomdee try running the `arm` version

[code]

[2017-07-14 18:32] tomdee opened #774 "Remove Add/Remove/ListReservations from subnet.Manager"
These functions aren't used and just clutter up the code.

Furthermore, they make no sense witht eh kube-subnet-mgr so shouldn't be part of the standard interface.

[2017-07-14 18:35] cwalker67 commented on #773
@tomdee
Scaleway's ARMv8 64 bit servers don't equate to a rpi3 ;)

[code]

[2017-07-14 18:37] tomdee opened #775 "Remove RevokeLease from subnet.Manager interface"
Nothing uses it so it just clutters up the code

[2017-07-14 19:28] cdickson-sum commented on #773
@tomdee thank you for starting to look at this, but the issue is with the 32 bit ARM version.

[2017-07-14 23:50] zihaoyu opened #779 "Excessive "Failed to receive from netlink: no buffer space available" errors"
We run `flannel` for our Kubernetes clusters, but not as a CNI plugin yet. Still the old way - run `flannel`, output the properties file, let `docker` read `--bip` flag from the properties file.

We noticed a large amount of the following errors when the cluster is under load:
[code]

## Expected Behavior

We should see fewer errors in `flannel` logs?

## Current Behavior

We see _a lot_ of such e

[2017-07-15 00:42] zihaoyu commented on #427
Still repro on v0.7.0. See two kinds of messages:

[code]

[2017-07-15 05:17] YEXINGZHE54 commented on #427
the same to me, on v0.7.0

[2017-07-15 09:51] Daemon007 opened #780 "how to run a fannel docker image"
i got a fannel docker image, how to run and confit the fannel image ?

[2017-07-16 08:28] Doron-offir commented on #770
Hi Tom,

Thank you for your answer, I have reached KOPS guys as well.

I have another question regarding flannel performance I hope you could
provide me with an insight. In this setup we are running also Elasticsearch
cluster that are been feed from out scrappers, and we experience high
latency.

Could it be relevant in any way to Flannel or should we look in another
direction?

Thanks again and a

[2017-07-16 21:46] zihaoyu commented on #414
Seeing the same thing #779 . Our cluster is about 250 to 300 nodes.

[2017-07-17 21:57] zihaoyu commented on #414
[code]
Dropping packets is seen on minions in a ~ 270-node cluster.

[2017-07-20 07:31] jimmycuadra commented on #773
Same problem here. Brand new Kubernetes cluster using kubeadm, both v1.7.1. flannel v0.8.0-amd. Raspberry Pi 3.

[code]

[2017-07-21 00:36] cwalker67 commented on #773
in examining the images, i've found the the `libc.so.6` is substantially smaller than the one it replaces in the copy
 * new `libc.so.6` is `894700`
 * old `libc.so.6`  is `1275540`
This may have nothing to do with it but I do notice that the sizes being copied for the arm64 version is larger `1259184`

[2017-07-21 18:26] tomdee commented on #392
@vijaykumark Sorry, flannel vxlan only supports binding to single ethernet device. I'm still not sure what flannel backend you're using - can you share that information?

[2017-07-21 18:28] tomdee commented on #621
TTL of the subnets is so they are cleaned up if the host goes away.
You can change the renewal time so it does it more than an hour before it would expire.

[2017-07-21 18:28] #621 closed

[2017-07-21 21:08] tomdee commented on #780
Here's an example  https://github.com/coreos/flannel/blob/master/dist/functional-test.sh#L59

[2017-07-21 21:08] #780 closed

[2017-07-21 21:12] tomdee commented on #773
I'm happy to merge a PR to fix this, but I don't any any hardware to test it on so I'm relying on you guys to provide the fix :smile:

[2017-07-21 22:12] tomdee commented on #779
It looks like it might be worth trying to increase the buffer size of the netlink socket
From

The file descriptor is available by calling GetFd() on nlsock here - https://github.com/coreos/flannel/blob/master/backend/vxlan/device.go#L214

[2017-07-24 13:23] liyehaha opened #783 "ERROR with ali-vpc backend !!!"
error when create flannel daemonSet with ali-vpc backend on aliyun ec2.

## Steps to Reproduce (for bugs)

just create ds with config file below :
1. https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel-rbac.yml
2. https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel-aliyun.yml (with access key and secret changed)

also add service account by name flannel

#

[2017-07-25 07:32] delfer opened #784 "extreme low network speed"
Server-Clinet (two nodes): **3.03 Mbits/sec**
Server-Clinet (same node): 9.51 Gbits/sec
Server-HostPort-Clinet speed (two nodes): 900 Mbits/sec

## Your Environment

* Flannel version: v0.6.2 / v0.8.0
* Backend used (e.g. vxlan or udp): vxlan
* Etcd version:  v3.0.17
* Kubernetes version (if used): 1.6.7 / 1.7.2
* Operating System and version: Container Linux by CoreOS stable (1409.6.0)

docker in

[2017-07-27 03:46] #691 closed

[2017-07-27 07:17] delfer commented on #784
With `host-gw` and fix from https://github.com/kubernetes-incubator/kubespray/blob/master/docs/openstack.md

[2017-07-27 12:29] cristifalcas commented on #763
For vxlan we need the Network key?

[2017-07-27 13:38] delfer commented on #784
With `udp`

[2017-07-27 15:04] delfer commented on #784
With vxlan and flannel v0.8.0

[2017-07-31 12:40] vijaykumark commented on #392
@tomdee  We are running flannel on baremetal servers (CentOS 7) which have two ethernet ports connecting to two different physical ethernet networks. There is no other SDN solution involved other than flannel.

[2017-08-01 10:34] Unb0rn opened #788 "Wrong mountpoins for etc-ssl-certs volume in flannel-wrapper for coreos-stable-1409-7-0-v20170719, distributed on GCE"
Seems like mountpoint for etc-ssl-certs volume, specified in flannel-wrapper is wrong:
`        --volume etc-ssl-certs,kind=host,source=/usr/share/ca-certificates,readOnly=true \`
`        --volume usr-share-certs,kind=host,source=/usr/share/ca-certificates,readOnly=true \`
It's duplicated with usr-share-certs volume, which prevents /etc/ssl/certs to be mounted properly.
## Expected Behavior

Moun

[2017-08-02 20:26] #749 closed

[2017-08-02 22:11] gunjan5 commented on #788
@Unb0rn seems like it's fixed in this commit https://github.com/coreos/coreos-overlay/commit/e9eeca8d90023441703b18c49e29769299a86348
and flannel-wrapper is in a different repo :)

[2017-08-02 22:11] #788 closed

[2017-08-03 00:52] philips commented on #784
What environment (aws, azure, etc)? Does ` ethtool -K eth0 tx off sg off tso off` help?

[2017-08-03 00:56] philips opened #790 "azure: sometimes turning hardware tx checksum is necessary"
## Expected Behavior

Connecting to HTTPs services on Kubernetes work on azure everytime.

## Current Behavior

Something like this will hang on Azure sometimes.

[code]

## Possible Solution

This fixes it:

[code]

## Steps to Reproduce (for bugs)

1. Spin-up Kubernetes cluster on [Azure using Tectonic Installer](https://coreos.com/tectonic/docs/latest/install/azure/azure-terraform.html)
2. Roll

[2017-08-03 01:16] philips commented on #790
Here are tcpdumps of TX on and TX off: https://gist.github.com/philips/d680458e7cc2a36b16989a20df5ae0c2

[2017-08-03 01:30] philips commented on #790
This is a "normal" tcpdump from this machine to a cloud CDN for comparision: https://gist.github.com/philips/e3acde0cda317ec134900323cc5d924b#file-gistfile1-txt-L44-L55

[2017-08-03 07:44] JingYang0725 commented on #427
I also met

[2017-08-03 19:46] delfer commented on #784
@philips My environment is OpenStack with vxlan Neutron. I will check **ethtool**.

[2017-08-04 01:36] squat commented on #790
We had to write a service to disable tx checksum offloading for Tectonic clusters on Azure https://github.com/coreos/tectonic-installer/pull/1586; it would be much nicer and more maintainable to do this in flannel configuration in a configmap than using systemd units.

Below are some iperf benchmarks we ran to compare how different MTU and tx checksum offloading combinations would perform. We foun

[2017-08-04 05:44] claytonsilva commented on #233
+1

[2017-08-06 01:00] stevesloka commented on #773
Hey, @tomdee I'm happy to test out any builds. I'm seeing the same error mentioned above on my arm cluster.

[2017-08-09 07:28] dev-e commented on #427
flannel: 0.7.1
coreos: 1409.7.0 stable
I had the same problem when I removed calico cni configs and left only flannel routing. Check your docker and flannel network configurations, they should have the same subnet.

[code]
If not so check flannel and Docker configs. Removing this configs and reloading daemons solved the problem in my case:

[code]

[2017-08-09 07:41] minhdanh opened #792 "Cannot start flanneld with Kubernetes API server (instead of etcd)"
I'm trying to start flanneld with Kubernetes API server instead of using etcd, as the document suggests. Here's my systemd file for flanneld:

[code]

## Current Behavior
When systemd starts flannel, it exits right away with the following output:

[code]

I'm not starting flannel in a pod. Why is flanneld asking for env vars `POD_NAME` and `POD_NAMESPACE` here?

## Your Environment

* Flannel vers

[2017-08-09 09:58] zengbiao opened #793 "k8s: response package from flannel0 cannot send out"
## Expected Behavior

response package (eg: dns response) can send out via eth0

## Current Behavior

DNS query--->eth0-->flannel0--->docker0--->k8sdns
-------------------- x--flannel0 <---docker0<---|

This mean "tcpdump -i eth0  -n udp port 8285 " not print any package send from local pc, only have
packages send to local pc.
eg:

**I have set "iptable -P FORWARD ACCEPT"**

## Possible Solution

[2017-08-09 15:12] simepo opened #794 "Getting JSON format error when restarting flanneld"
## Expected Behavior
When starting a new flannel node, I insert config into etcd and start flanneld:

`# etcdctl set /atomic.io/network/config '{"Network": "4.0.0.0/8", "SubnetLen": 24, "Backend": {"Type": "vxlan"}}'`

I expect then to be able to stop and restart flanneld as required.

## Current Behavior
However, if the flanneld is now stopped and restarted, it fails with multiple errors:

`
Aug

[2017-08-11 19:58] clchandan opened #795 "Unable to ping the flannel0 and flannel1 IP when flannel is stopped and started manually."
Unable to ping the flannel0 and flannel1 IP when flannel is stopped and started manually as part of our Robustness testing.(No Issue seen with other services yet and Not sure if/who need/uses that IP)

## Expected Behavior
Should be able to ping flannel0 IP after flanneld is started on that host(call it Host1) from another Host.
Found that there is some difference  before and after Flanneld stop/s

[2017-08-14 16:53] tomdee commented on #792
Flannel needs to interact with the K8s API server. When running as a pod it can be given permission to access those details. I did add some experimental support for running outside a pod, but it's not currently documented (and may never be). If you want to try to understand it, you can look at the change - https://github.com/coreos/flannel/commit/c9970d056974bc8c8ffa782c2eb07478ae61e3d8 in particu

[2017-08-14 16:53] #792 closed

[2017-08-14 16:55] tomdee commented on #795
I can tell from the interface name that you're using the UDP backend. This backend is not recommended and will not allow traffic to flow if the flannel daemon isn't started. Try using vxlan instead - https://github.com/coreos/flannel/blob/master/Documentation/backends.md

[2017-08-14 16:59] tomdee commented on #794
@simepo do you know how that RPM is built or where it comes from? Are you able to check that you have the exact same 0.7.0 flannel binary as is hosted here on github?

Your "steps to repro" and "Current Behaviour" aren't quite the same (if I'm reading it correctly). Do you only hit a problem when you add the VNI to the config?

[2017-08-14 17:05] tomdee commented on #783
@spacexnice Can you help?

[2017-08-14 17:48] tomdee commented on #775
Fixed by #776

[2017-08-14 17:48] #775 closed

[2017-08-14 18:01] clchandan commented on #795
Hi Tom,
thanks for looking at it and reply. But not sure why it was closed as in our case we did start the flanneld daemon and that is when it we tried to Ping the flannel0 IP.
Also it would be good to know who/what uses that IP to check what affect it will have on our system.

[2017-08-14 23:45] #414 closed

[2017-08-14 23:45] #427 closed

[2017-08-14 23:45] #592 closed

[2017-08-14 23:45] #604 closed

[2017-08-14 23:45] #617 closed

[2017-08-14 23:45] #654 closed

[2017-08-14 23:45] #779 closed

[2017-08-15 00:39] spacexnice commented on #783
Please make  sure your ECS is under VPC network environment ,this backend is only suitable for VPC network.@liyehaha

[2017-08-15 01:08] minhdanh commented on #792
Thank you

[2017-08-15 02:59] spacexnice commented on #698
make sure your ECS security group has open to your ContainerNetwork.  And also check to make sure vxlan port is open.

and i suggest you to provide a more specific description on your problem.  have you capture package flow use tcpdump？

[2017-08-15 08:21] spacexnice opened #796 "official quay.io/coreos/flannel:v0.8.0 docker image has root-ca certificate problem"
## Problem
official quay.io/coreos/flannel:v0.8.0 docker image has root-ca certificate problem. which is root ca is not valid. And has been fix in [commit](https://github.com/coreos/flannel/commit/53d1855d7eead6e519f43b75cec725b2121e3557).

Does it possible to cherry-pick it on v0.8.0? @tomdee

[2017-08-15 08:22] simepo commented on #794
Hi, thanks for responding.

The RPMs all come from Red Hat, they are included in the RHEL 7.2 extras/optional channels.

I guess the summary is:

VNI not in etcd - new node will start / existing node will not start
VNI included in etcd - new node will not start / existing node will start

Hope that helps, please let me know what other relevant details I can provide.

[2017-08-15 12:44] roffe commented on #796
correct me if i'm wrong, but isn't the idea you mount the CA's from HOST into flannel so you don't have to build them into the image.

like the flannel-wrapper does in coreOS

[code]

[2017-08-15 16:00] oilbeater commented on #796
@roffe that means flannel containers rely on host settings, I don't think it's a good practice.

flannel:v0.6 image does have CAs in image and aws/ali-vpc backend works fine by official kubernetes daemonset yaml, but v0.8 is broken. That's why I commit this change.

[2017-08-15 19:48] ikester commented on #773
Is there a workaround for using Flannel with K8s v1.7.x on ARM? Using v0.7?

[2017-08-15 21:28] martynd commented on #712
If you are using --hostname-override on the kubelet, have you tried making sure that its value has an entry in the host machines /etc/hosts file or that its able to be resolved correctly by your primary resolver?

When it isn't defined ive experienced the inconsistent behavior described, however once it is, ive not experienced any issues, even with the daemonset method.

If you have your kubelet s

[2017-08-16 13:00] andyxning commented on #554
@nesc58 Seems like flannel has updated the etcd dep version to 3.1.x. @tomdee could you please confirm this?

[2017-08-16 13:36] Sherler commented on #699
same issue, can ping the crossed node docker0, but not worked when pinging crossed node pods

[2017-08-16 19:57] swestcott commented on #773
I slso had an issue with flannel 0.8 on my pi3,

[code]

Flannel 0.7.1 is working ok

[2017-08-17 00:14] jimmycuadra commented on #773
I just switched from flannel to weave and it's been working fine.

[2017-08-17 11:23] asaaki commented on #773
@jimmycuadra Did you set up a fresh cluster or switched within the running one? The latter didn't really work for me. :-/

[2017-08-17 22:18] simonklb opened #797 "Inconsistency in iptables after upgrade"
When upgrading flannel from 0.7.1 to 0.8.0, specifically to get [this patch](https://github.com/coreos/flannel/pull/745), I noticed that one host didn't work as expected (the source IP was not preserved in the requests).

I compared the iptables on a working host to the faulty one and discovered what was wrong. In the faulty host the POSTROUTING rules looked like this:
[code]
I flipped the new `RE

[2017-08-18 08:49] jimmycuadra commented on #773
@asaaki It was a new cluster. Can't comment about switching from one to another, as I haven't tried that, but I don't see why it wouldn't work in theory. Perhaps if you share specifics of what went wrong, someone can help figure out your problem.

[2017-08-20 00:14] #769 closed

[2017-08-21 14:41] vnalla opened #798 "Problem manually setting up single node flannel v0.8.0-amd64 cluster"
I am trying to setup a single node Kubernetes cluster on Ubuntu 16.04 using docker containers, hyperkube for kubernetes and https://quay.io/repository/coreos/flannel?tag=v0.8.0-amd64&tab=tags for flannel. I had a setup which is working, which was using etcd, flannel, and kubernetes processes setup as services in which flannel depends on etcd, and docker depends on flannel. Trying to setup via cont

[2017-08-22 02:14] vnalla commented on #798
flannel daemon set is failing. appreciate your help. thanks

{"log":"E0822 00:28:17.613136       1 config.go:265] Expected to load root CA config from /var/run/secrets/kubernetes.io/serviceaccount/ca.crt, but got err: open /var/run/secrets/kubernetes.io/serviceaccount/ca.crt: no such file or directory\n","stream":"stderr","time":"2017-08-22T00:28:17.613518972Z"}
{"log":"E0822 00:28:47.615504

[2017-08-22 08:26] oilbeater commented on #798
https://github.com/coreos/flannel/commit/53d1855d7eead6e519f43b75cec725b2121e3557
fix this, but flannel doesn't release a new image. You can build you own image by base from flannel:v0.8.0 add add the CA.

[2017-08-22 14:26] vnalla commented on #671
Hi,
Running in to the same issues on Ubuntu 16.04, Kubernetes via hyperkube v1.6.8_coreos.0 and flannel v0.7.1 & v0.8.0-amd64. appreciate your help and time.

{"log":"E0822 14:22:39.379922       1 config.go:265] Expected to load root CA config from /var/run/secrets/kubernetes.io/serviceaccount/ca.crt, but got err: open /var/run/secrets/kubernetes.io/serviceaccount/ca.crt: no such file or directory

[2017-08-24 02:03] lklkxcxc commented on #609
我也碰到了原来是这个问题已解决。

[2017-08-24 14:07] clchandan commented on #795
Any update on this or at least can somebody tell what/who needs to ping the flannel0,1 IP so we get an idea on what side affect to look for.

[2017-08-24 18:11] tomdee commented on #554
That PR just updates the library version - flannel still only works with the etcdv2 API for now

[2017-08-24 18:32] limited opened #799 "IPTables rules missing from Flannel/CNI on Kubernetes installation"
The following IP Tables rules are missing, causing routing between nodes to not work properly between containers. I can ping between hosts, but not between containers running on hosts.

[code]

## Expected Behavior
I expect by default, without special modifications to IPTables to connect to containers running on other flannel nodes (i.e. kube master/api-server and kube-worker).

## Current Behavio

[2017-08-25 00:23] andyxning commented on #554
Any plan to upgrade etcd support to etcd v3? @tomdee

[2017-08-25 06:44] cdyue commented on #799
@limited Thanks!It works!

[2017-08-27 20:07] domino14 commented on #799
I see this issue too. How do we make sure those iptables rules run on reboot?

[2017-08-28 13:05] wkjun commented on #728
try the blow,may be useful
edit  /etc/kubernetes/manifests/kube-controller-manager.yaml
at command ,add
    --allocate-node-cidrs=true
    --cluster-cidr=10.244.0.0/16
then,reload kubelet
my situation is ,update kubernete 1.7.1 to 1.7.4,and  /etc/kubernetes/manifests cidr paramers  was  lost.

[2017-08-29 07:42] cdyue commented on #799
I have the same issue.But i think  it's not a bug of FLANNEL.
My env:
* centos 7.2
* flannel: v0.8.0
* docker: 17.06.0-ce
* kubernetes:v1.7.4

It seems docker version >=1.13 will add iptables rule like below,and it make  this issue happen:
[code]
All you need to do is add a rule below:
[code]

[2017-08-29 09:58] stregatto commented on #414
Only as info.
These parameters remove the log entry increasing the netlink buffer.

net.core.rmem_default = 524280
net.ipv4.udp_rmem_min = 10240

[2017-08-29 10:58] limited commented on #799
I'm using Docker 1.12, so I think the behavior must start in an earlier version. Also, I don't think its an acceptable solution to change the default behavior for an IPTables rules. My two rules are a more precise fix.

[2017-08-29 21:16] julia-stripe opened #801 "hostgw backend fails to replace old route table entries"
In our cluster, flannel is failing to replace existing routes in the route table with new routes. Here's a log of the failure message

[code]

Basically for some reason when flannel sends a message to the netlink socket asking the kernel to update the route table, the kernel returns a "no such process" error. I'm able to delete routes with `sudo ip route delete`, and when I delete the routes manua

[2017-08-30 15:51] julia-stripe commented on #801
Found some more information!

I straced flannel, and these are the messages it's sending to the netlink socket:

https://gist.github.com/julia-stripe/c2a4aafbccf3533d738be1e665a79eb8

I parsed them all (using pyroute2: http://docs.pyroute2.org/debug.html

and got this resuilt for the failed message:

[code]

So basically what's happening is that Flannel sets `RTA_OIF` (the interface ID for the net

[2017-08-30 16:10] julia-stripe commented on #801
update with a bit more information: I straced flannel and found all the messages it's sending to the netlink socket when it fails.  here they are: https://gist.github.com/julia-stripe/c2a4aafbccf3533d738be1e665a79eb8

in particular this is the netlink message that happens right before the error:

[code]

The issue with this message is that `RTA_OIF`, the interface id, (which I believe ultimately c

[2017-08-31 07:11] SFHfeihong opened #802 "flannel [network.go:102] failed to register network: failed to open TUN device: ioctl failed with 'operation not permitted'"
We use a general user to start flanneld.service, but it didn't work. The error message is as below:
[network.go:102] failed to register network: failed to open TUN device: ioctl failed with 'operation not permitted'

## Your Environment

* Flannel version:  flannel-0.7.1-1.el7.x86_64.rpm
* Backend used (e.g. vxlan or udp):  udp
* Etcd version: 3.1.9
* Kubernetes version (if used): 1.5.2
* Operatin

[2017-09-04 16:04] kopiczko opened #804 "allow multiple flanneld instances using kubernetes storage"
## Expected Behavior

We'd like to run multiple instances of flanneld using Kubernetes as a configuration storage backend.

## Current Behavior

Currently when using etcd storage there is a bridge name inside the etcd configuration path.
When using Kubernetes storage this is is different. Nodes annotations are used. Keys of that annotations are constant.

## Possible Solution

I think simplest sol

[2017-09-06 14:46] CallMeFoxie opened #805 "Flannel can create an overlap"
Hi
it seems that flannel can under some circumstanses create bad leases. I was unable to track down exactly why and I have only 1 possible solution at the moment, let me explain:
We have a subnet of /13 with /24 per host -> about 2k subnets for host node allocations.
On two nodes we have got a collision (took ages to figure it out that it happened btw).

Both nodes have the same `/run/flannel/subn

[2017-09-06 14:55] CallMeFoxie commented on #805
Sorry my bad, found the issue somewhere completely else :)

[2017-09-06 14:55] #805 closed

[2017-09-06 15:12] klausenbusk opened #806 "Can I route outgoing traffic over flannel?"
Hello

I'm currently running OpenVPN on every node in my k8s cluster, and routing the traffic over one of two nodes, so the source ip is always either X or Y. This is to reduce the risk of a attacker getting all the server ips and so we don't need customer to update their whitelist "all the time".

I'm wondering if flannel can do the same somehow?
So I need a way to route all traffic to one of two

[2017-09-06 16:36] tomdee commented on #805
@CallMeFoxie I'm excited to hear that you're running a 2K node cluster. Feel free to raise issues (or DM me on slack) for things which you think flannel should be doing better. For example, are there additional or clearer logs that flannel could have written to allow you to more quickly realise that this wasn't a flannel problem?

[2017-09-06 16:45] CallMeFoxie commented on #805
It's not 2K node cluster, it's only several hundred, only 2K is the allocated limit. And we have two clusters. And the node was in the wrong cluster for whatever reason :).... Coincidentally on the same flannel IP as another node in the other cluster which made me go WTF until I noticed wrong config file.

Sorry!

[2017-09-06 16:49] #801 closed

[2017-09-06 16:51] tomdee commented on #806
Interesting idea, but this is not currently supported.

[2017-09-06 16:51] #806 closed

[2017-09-06 17:09] klausenbusk commented on #806
It seems to work:
On the `outgoing` node:
[code]
On the rest of the nodes:
[code]

I'm wondering if I can do this in a less hackish-way. I need to add `10.2.0.0/16` to all `flannel.1` interface, and need some logic to route the traffic over another node if `10.2.5.1` goes down.

@tomdee Do you have any ideas?

[2017-09-07 11:44] gwind commented on #798
@vnalla I've install flannel daemonset successful, you can saw my steps in
https://github.com/kubernetes/kubernetes/issues/51881

[2017-09-13 09:20] jwfang opened #810 "question about latest version of vxlan backend"
i am learning vxlan & flannel, and have some questions. hoping someone can clarify it for me. :)

1. about l2missing and l3 missing

   from https://github.com/coreos/flannel/blob/c1b6a064a3b839775efc908e97a0f5d8478f1fb9/backend/vxlan/vxlan.go#L21 it says ARP is l2missing, fdb is l3missing.
  but from https://www.slideshare.net/enakai/how-vxlan-works-on-linux it's the opposite;

2. *nexthop* and *

[2017-09-14 09:06] mkumatag opened #812 "Not able to run flannel docker image for ppc64le platform"
Facing the following issue while running flannel docker image on ppc64le
[code]
## Expected Behavior

It should run without any issues
## Current Behavior

It fails with version `GLIBC_2.22' not found
## Possible Solution

See https://github.com/coreos/flannel/pull/811
## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Flannel version:
* Backend used (e.g. vxlan or u

[2017-09-14 11:24] devent opened #813 "Flanneld overrides subnet in etcd"
## Expected Behavior

Start flanneld on 192.168.56.200 (node-0)
flannel.1 should have 10.2.43.0
Start flanneld on 192.168.56.201 (node-1)
flannel.1 should have 10.2.44.0 (different subnet)

## Current Behavior

Start flanneld on 192.168.56.200 (node-0)
flannel.1 have 10.2.43.0
Start flanneld on 192.168.56.201 (node-1)
flannel.1 have 10.2.43.0 (same subnet)

## Possible Solution

## Steps to Reprod

[2017-09-14 11:32] devent commented on #813
Update: If I restart the nodes, a new subnet is picked. Shouldn't it be done without a restart?

node-0

[code]

node-1

[code]

[2017-09-14 12:04] devent commented on #813
I forgot to write, I had flanneld already installed on the node-0 and node-1, but the etcd cluster wasn't setup yet between the nodes. But I deleted the virtual network `flannel.1` before I reinstalled flanneld.

[code]

Maybe the reason was that the old network interfaces `flanneld.1` was still present on the nodes?

[2017-09-14 14:54] szuecs opened #814 "AWS - one node in AZ eu-central-1-b failing to connect through flannel"
We have ~3 nodes in each AZ in region eu-central-1. All nodes, besides one of them can connect to each other fine and have no problems. We see one node failing to connect cross AZ to POD network, but EC2 network works cross AZ from the failing node.

## Expected Behavior
ICMP Ping and TCP connections to POD ip to another AZ should work

## Current Behavior
ICMP Ping and TCP connections to POD ip t

[2017-09-14 15:50] vnalla commented on #798
@gwind Thanks for the information. Yes it deploy flannel and starts cni0 upon deploying the first pod. But the pods are not talking to the pod network. kubedns  and dashboard are in endless crash loop because they can not talk to apiserver. Tried the trouble shooting as suggested in https://github.com/kubernetes/dashboard/blob/master/docs/user-guide/troubleshooting.md, the test pod give no route t

[2017-09-15 17:33] #812 closed

[2017-09-18 01:25] bitvector2 commented on #773
How can I help with this?  I have a cluster of RPIs just waiting to help?

[2017-09-18 10:20] erez-rabih opened #815 "Flannel does not start on Kubernetes with > 100 nodes"
I created a K8s 1.7.5 cluster on AWS using Kops 1.7.0
The cluster has 105 nodes - 3 of them master nodes
I always get exactly 4 nodes there kubelet cannot start pods
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Flannel version:
* Backend used (e.g. vxlan or udp):
* Etcd version:
* Kubernetes versi

[2017-09-18 14:58] klausenbusk commented on #815
Are you using flannel `v0.8.0`? It contain this fix: https://github.com/coreos/flannel/issues/719 which seems related.

[2017-09-18 21:31] tomdee commented on #815
I'm assuming you just need to upgrade. Please comment with more diags if you're still having problems.

[2017-09-18 21:31] #815 closed

[2017-09-18 22:31] tomdee opened #818 "kube-subnet-mgr doens't work with nodes that have empty annotation"
I hit this during some manual testing. This could be a completely synthetic situation so I'm interested to hear if people think it can be hit in the field.

The following node manifest works:
[code]

If I remove the annotations key completely then flannel fails to start.

## Expected Behavior
Flannel should start

## Current Behavior
Flannel fails to start.

## Steps to Reproduce (for bugs)
Run fl

[2017-09-18 22:34] tomdee opened #819 "kube-flannel.yml doesn't have broad kubernetes compatibility"
We need to come up with a better way for managing the kube-flannel.yml file so that it is compatible with more kubernetes versions.

This might involve maintaining multiple files and improving the documentation.

Known issues:
* Older kubernetes versions don't work (`error validating data: found invalid field tolerations for v1.PodSpec`)
* Needing two files (one for RBAC) is kinda clunky and error

[2017-09-18 22:54] tomdee commented on #813
@devent I'm not sure what the problem is here. My guess would be that maybe both nodes ended up with a `/run/flannel/subnet.env` which told flannel to use the same lease.

It shouldn't be possible to have two flannel instances sharing the same lease so there could be a possible bug here. But I'm unclear on the exact sequence of events (how were you running flannel without etcd for example?). I don

[2017-09-18 22:55] tomdee commented on #773
@bitvector2 @stevesloka  @swestcott @asaaki  @ikester @cwalker67 @cdickson-sum Could you try the new v0.9.0-rc1 images?

[2017-09-18 22:56] tomdee commented on #802
Your user needs the right permissions to TUN device. It's easiest to just run flannel as root.

[2017-09-18 22:56] #802 closed

[2017-09-18 23:10] tomdee commented on #799
The default changed with Docker v1.13 - https://docs.docker.com/engine/userguide/networking/default_network/container-communication/#container-communication-between-hosts

It's currently unclear to me how this issue shoudl be fixed. Maybe flannel you automatically change the iptables rules, or just document the docker change, or maybe the bridge CNI plugin should be doing something about it.

Also

[2017-09-18 23:13] tomdee commented on #796
This will be fixed in the v0.9.0 release (which has an RC available now)

[2017-09-18 23:32] tomdee commented on #810
I'll do my best to answer these questions, but happy to get input from others too
1) I may have gotten these the wrong way round. But since they're now removed I'm not going to think about it too hard!
2) Good spot! I think I must have misread the man page

So I don't think nexthop is needed but `onlink` is needed.

See here for details on getting master builds - https://github.com/coreos/flannel/

[2017-09-18 23:32] #810 closed

[2017-09-19 00:37] limited commented on #799
Thanks will give the ip-masq a shot

[2017-09-19 01:01] gensmusic opened #820 "flannel not cleanup"
At first, I start a kubernetes cluster A using flannel with default 10.244.0.0.
Then I start a new kubernetes cluster B using flannel with 10.83.0.0.
One day, I decide to tear down the cluster A and move all the nodes to cluster B.
I cleanup all the nodes with
[code]

Then I join them into cluster B.

## Expected Behavior
The cluster A nodes should have a flannel.1 like 10.83.x.x after joining clu

[2017-09-19 03:45] ecliptik commented on #773
@tomdee I haven't deployed Flannel v0.9.0-rc1 to my k8s Raspberry Pi 3 cluster, but the image does run now and no longer gives a `standard_init_linux.go:178: exec user process caused "no such file or directory` that I was seeing with `v0.8.0-arm`.

[code]

[2017-09-19 05:53] erez-rabih commented on #815
Hi thanks for the tip, upgrading did solve the problem

[2017-09-19 11:30] devent commented on #813
To clarify. The whole process was as following.
1. One Virtualbox Debian 9, lets say node-0, hostname node-0, address 192.168.56.200
2. Installed etcd, flanneld and docker on node-0, everything runs fine.
3. make a clone of node-0, with new mac address, node-1.
4. change the IP and hostname of node-1 to node-1 and 192.168.56.201, respectively.
5. stop etcd on the nodes, delete old etcd data direct

[2017-09-19 17:13] ggaaooppeenngg opened #821 "Can not ping between multi-host pods."
## Expected Behavior

I can ping 10.244.2.5 (ubuntu1) from 10.244.1.4 (ubuntu0)

## Current Behavior

Can not ping 10.244.2.5 (ubuntu1) from 10.244.1.4 (ubuntu0)

I set up k8s cluster by kubeadm, and I have 3 nodes.
[code]
And I run 2 pods on 2 nodes.
[code]
I want to ping from ubuntu0 to ubuntu1, run `ubuntu0:/ ping 10.244.2.5`, I get tcpdump result `sudo tcpdump -i cni0` on node `ip-172-31-22-44

[2017-09-20 16:12] slawekgh commented on #821
+1

[2017-09-20 16:47] slawekgh opened #823 "cant connect to pods from external k8s nodes , k8s nodes can connect only to local pods, load balancing doesnt work properly"
## Your Environment
3 servers  with CentOS 7.3.1611 (Core)  / 3.10.0-514.el7.x86_64
flannel - v0.8.0
kubernetes - v 1.7.5
3 node cluster with 1 master (cent501) and 2 workers (cent502, cent503)

[code]

## Expected Behavior
1.k8s nodes should serve my service (type=nodePort) on servicePort on each k8s node
2.pods should communicate with others, nodes should communicate with pods

## Current Behavi

[2017-09-20 17:10] slawekgh commented on #823
type=vxlan

[code]

[2017-09-20 17:19] slawekgh commented on #823
I installed k8s via kubeadm and after that apply 2 flannel yml files:
[code]

the only difference between my local kube-flannel.yml and "official" file
kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

is:
[code]
according to:
https://github.com/coreos/flannel/issues/535

without or without these small change it doesnt work

[2017-09-20 18:20] slawekgh commented on #823
I also tested solution from other issues:
[code]
with no success :-(

[2017-09-20 20:58] Calpicow opened #824 "No wait/retry mechanism for IP masquerade"
If there is an error setting up masquerade, it will give up and continue with everything else. Networking is broken in the machine until flannel is restarted.

flannel v0.8.0

[code]

[2017-09-21 03:36] ggaaooppeenngg commented on #821
@slawekgh  try `iptables -P FORWARD ACCEPT`, maybe your docker version is latest and from docker 1.13, it disable FORWARD chain in iptables.

[2017-09-21 03:42] #783 closed

[2017-09-21 19:29] danmikita commented on #773
@tomdee I tried the v0.9.0-rc1 image and it fixed the problem. Everything is working perfect!

[2017-09-22 08:56] tomdee commented on #773
@danmikita That's great to hear!

[2017-09-22 08:56] #773 closed

[2017-09-22 08:57] tomdee commented on #813
Thanks @devent for the extra info. I'll need to digest this some more but reopening the issue to keep it tracked.

[2017-09-22 10:17] tomdee commented on #824
Should be fixed in the soon to be released v0.9.0 by #808

[2017-09-22 10:17] #824 closed

[2017-09-22 10:21] tomdee commented on #790
@philips @squat Do you think this issue should stay open? Do you think this can or should be fixed in flannel? I could see a few options for resolving this
1) Adding a note to the docs about this issues and the steps to (manually) resolve it.
2) Always turning off tx checksum offloading
3) Trying to detect if flannel is running on azure and turning off tx checksum offloading
4) Just closing the is

[2017-09-22 10:25] #796 closed

[2017-09-22 10:32] tomdee commented on #346
Closing as this has been open for a long time. It would be great to sort out OS packaging of flannel but this isn't the best place to track that.

[2017-09-22 10:32] #346 closed

[2017-09-22 10:35] tomdee commented on #615
As of v0.9.0 flannel is packaging ca-certificates (at least for amd64) so I think this can be closed.

[2017-09-22 10:35] #615 closed

[2017-09-22 10:36] tomdee commented on #557
This has been open for a long time and it's being tracked from the centos side so closing here.

[2017-09-22 10:36] #557 closed

[2017-09-22 10:37] tomdee commented on #541
I'm not able to repro this so I assume it's been fixed already on the docker side. Closing.

[2017-09-22 10:37] #541 closed

[2017-09-22 10:40] tomdee opened #825 "Switch to alpine for all platforms"
alpine has packages for iptables (https://pkgs.alpinelinux.org/packages?name=iptables&branch=&repo=&arch=&maintainer=)

Hopefully there are also apine base images for all platforms - e.g. https://hub.docker.com/r/arm32v6/alpine/

[2017-09-22 10:49] ingvagabund commented on #346
flannel-0.7.0-2.fc25 is in stable and available since January 2017.

[2017-09-22 11:02] tomdee commented on #519
Fixed in v0.9.0

[2017-09-22 11:02] #519 closed

[2017-09-22 11:04] tomdee commented on #434
Closing as I assume this is now fixed.

[2017-09-22 11:04] #434 closed

[2017-09-22 11:04] #435 closed

[2017-09-22 11:06] #698 closed

[2017-09-22 11:07] #774 closed

[2017-09-22 11:08] tomdee commented on #784
Closing this support issue without further diags/info

[2017-09-22 11:08] #784 closed

[2017-09-22 11:08] tomdee commented on #797
Should be fixed in v0.9.0

[2017-09-22 11:08] #797 closed

[2017-09-22 11:09] tomdee commented on #820
See also #739

[2017-09-22 13:10] tomdee commented on #825
...but this isn't going to be easy. The `udp` backend needs CGO which means a full cross-compiling C environment is needed. `kube-cross` provides this but it produces binaries linked against glibc which won't run on alpine unless glibc packages are installed. And glibc for alpine is only (easily) available for amd64.

I wasn't able to get kube-cross to link against musl libc and I wasn't able to m

[2017-09-22 13:30] squeed commented on #790
Oh, it's so much worse than that. It depends on the underlying HyperV OS; the networking driver for some versions of Windows support checksum offloading only for TCP (hence breaking vxlan), while newer ones support both TCP and UDP.

Given that it's not really a flannel problem, this can probably just be closed.

[2017-09-23 19:44] slawekgh commented on #821
i tried , no success

[2017-09-23 20:43] slawekgh commented on #823
Finally I found important checkpoint during installation:
kubectl get nodes -o jsonpath='{.items[*].spec.podCIDR}'

if it is not ok (empty output) my problem still persists, if its ok (output with 10.244.1.0/24) there is no problem any more nad I have correct inter-node communication between pods

[2017-09-26 07:29] slawekgh commented on #821
tested once again - now it helps

[2017-09-26 07:30] slawekgh commented on #823
and 2nd milestone - after reboot of kubernetes slave node we must execute
[code]

[2017-09-26 08:20] ggaaooppeenngg commented on #821
@slawekgh good news, maybe you didn't clean your interface settings (cni0 and flannel.1) before you reset your cluster.

[2017-09-26 08:20] #821 closed

[2017-09-28 08:26] trunet opened #829 "Flannel should allow non-disruptive ssl certificate rotation connecting to etcd"
On our environment we have per-server ssl certificates. These certificates have a short lifetime and it's renewed every week (certificates are issued valid for 2 weeks).

## Expected Behavior
Reloading flannel should re-read the certificates that is used to connect to etcd.

## Current Behavior
A full flannel restart is needed

## Possible Solution
trap a SIGHUP, reload method or any other way sho

[2017-09-29 03:10] gensmusic commented on #820
Found a way see https://stackoverflow.com/questions/46276796/kubenetes-cannot-cleanup-flannel/46438072#46438072

[2017-09-29 03:10] #820 closed

[2017-10-02 13:53] vglisin commented on #736
Starting kubernetes and having flannel working is really a master move. I have everything done by a book for CentOS 7 but flannel gets "CrashLoopBackOff". Can you make this working? Is it possible?

[2017-10-02 17:55] Dao007forever opened #831 "Flanneld.service failed but nodes are Ready."
When creating a new cluster, we noticed that some pods on the same node failed to communicate with other pods. Journalctl revealed that flanneld reported errors.
Restarting flanneld.service resolves the issue.

[code]

## Expected Behavior
If flanneld.service failed, the node should not be Ready.

## Current Behavior
Nodes are marked as Ready while flanneld.service failed.

## Steps to Reproduce (

[2017-10-04 05:07] rakelkar opened #833 "Support Windows in host-gw and VXLAN modes"
Windows RS3 release introduces support for Kubernetes networking, however setting it up without a Flannel like component is very difficult.The Windows Server RS3 release supports host-gw as L2Bridge and vxlan in Overlay modes - this issue proposes supporting Flannel on windows for host-gw and vxlan modes and links to a proposed PR.

See here for details on new Windows support for K8s networking: h

[2017-10-05 10:04] manuperera commented on #734
I've tested the possible solution mentioned in https://github.com/coreos/flannel/blob/master/network/ipmasq.go#L36, but not working.

I will write again in this issue the tests details by request of @MrHohn. [https://github.com/kubernetes/kubernetes/issues/52096](url) .

I've installed the latest stable release of CoreOS (1548.0.0). This release contains Flanneld 0.9.0.

[code]

I've repeated test

[2017-10-09 07:46] ylfforme opened #834 "pod from different host can not communicate"
I started flanneld service and get a interface flannel.1 I set flannel network by etcd is {"network": "172.16.0.0/16", "subnetlen":24, "backend":{"type":"vxlan"}} but I use ifconfig to see the interfaces get flannel.1‘s netmask is  netmask 255.255.255.255
I wonder why the netmask is not 255.255.255.0
I think beacuse of this my pod from different host can not communicate.
My flannel version is 0.7.

[2017-10-09 10:52] ylfforme commented on #834
after I run this ：iptables -I -s 172.16.0.0/16 FORWARD -j ACCEPT，It work fine

[2017-10-10 00:56] anguslees commented on #663
Better yet (and what I do locally) - extend kube-flannel.yaml to include a daemonset for *each* architecture, with the appropriate beta.kubernetes.io/arch=$arch nodeSelector.  That way your cluster automatically installs the right flannel daemon, even across multiple architectures (I have mixed arm+amd64).

The bit that prevents this being "easy" on arm currently is that the `quay.io/coreos/flanne

[2017-10-10 10:32] piontec opened #835 "Why flannel hides (SNAT/MASQ?) original src IP in packets?"
I'm trying to use flannel to provide networking across docker hosts running legacy application. For these applications, it is essential to learn original source IP of the client initiating a connection. Unfortunately, it seems that flannel "hides" source IP. Is it by design? Is it possible to bypass this limitation?

## My setup and current behaviour
I got a node "wn3", where `docker0: 10.5.50.1/2

[2017-10-10 16:48] mgleung commented on #835
What happens if you do a packet capture on the interface for the container on `wn3` in the example above?   I believe that at the host, if you capture packets, you will see the the tunnel IP, but if you were to  capture packets at the destination container interface on `wn3` you should be seeing the source IP for the container on `wn2`. Let me know if that works for you.

[2017-10-10 17:44] mgleung commented on #835
That definitely seems to be unexpected behavior.  Can you make sure that your docker daemon and your flannel config have the `ip-masq` option set to `false` and try restarting docker to see if that works?  I noticed that the `ip-masq` option for the docker daemon defaults to `true` so that might possibly be the issue.

[2017-10-11 03:40] tanshanshan opened #836 "set --ip-masq=true, iptables rules can not be deleted when we stop flannel"
## Expected Behavior

when we stop flannel , IP masquerade rules in the table nat will be deleted.
and the log such as

## Current Behavior

 stop flannel  with ctrl+c or kill , the  iptables rules are not deleted.
## Possible Solution

## Steps to Reproduce (for bugs)

1. ./flanneld -etcd-endpoints https://10.10.10.163:2379 -etcd-prefix /cluster.local/network -etcd-cafile /etc/flannel/certs/ca_ce

[2017-10-11 10:02] lghinet commented on #755
same problem here

[2017-10-11 12:14] salamaniibm opened #837 "e2e-test case does not display etcd log"
The functional test should change from `docker logs $etcd` to `docker logs flannel-e2e-test-etcd`

[2017-10-11 12:16] piontec commented on #835
@mgleung Thanks for the answer, but if that's unexpected, it means 2 things to me:
1. flannel should be a perfect solution to my problems
2. I'm totally lost and got no idea why I can't make it work :(

Can I ask for help here?

Let me give you some more data now:
1. nodes config
  * wn2: docker0: 10.5.89.1/24, flannel.1: 10.5.89.0/32
  * wn3: docker0: 10.5.47.1/24, flannel.1: 10.5.47.0/32
  * etc

[2017-10-11 12:23] piontec commented on #835
Afterall, it doesn't feel unexpected, please check dumps showed on this page - they exactly confirm my findings:
http://docker-k8s-lab.readthedocs.io/en/latest/docker/docker-flannel.html

[2017-10-11 19:37] mgleung commented on #835
Can you post the output of `iptables-save`? I also vaguely recall a similar issue to this for flannel on kubernetes that was resolved which I thought had something to do with the iptables rules. Can you also try enabling the flannel `ip-masq` option? I noticed that its enabled as a part of a default kubernetes install using the example manifest files, and I was wondering if that will make a differ

[2017-10-13 20:36] tomdee commented on #346
@ingvagabund How do I get the latest version of flannel (v0.9.0) in stable?

[2017-10-16 19:15] tomdee commented on #829
Thanks for the feature request @trunet. Just so I understand the impact this has on you, are you seeing any problems with doing a full flannel restart. The dataplane should not be affected by restarting the flannel daemon. The only problem I can think of is that new hosts that are added while the flannel daemon isn't running won't be spotted until the daemon has started up again.

[2017-10-16 19:18] tomdee commented on #755
@lghinet @wjp719 please open a new issue if you're still having problems

[2017-10-16 19:20] tomdee commented on #831
@Dao007forever could you expand on

What component is doing the `Ready` reporting?

[2017-10-16 20:05] Dao007forever commented on #831
I guess it's the kubelet?

[2017-10-17 08:45] trunet commented on #829
We had a dependency between flannel and docker on systemd. Everytime that flannel was restarted, docker was being restarted as well. I removed the RequiredBy from docker unit to fix this behaviour.

So, there's no impact on doing the full restart. flannel restart is part of the certification rotation script that run once a week.

[2017-10-17 15:21] sgarg1 opened #841 "Flannel setting wrong MTU on AWS"
Flanneld is not detecting the host interface's mtu
## Expected Behavior
Flanneld should detect the mtu of the host interface and should set the variable for `DOCKER_OPT_MTU` to interface MTU - 50, on AWS this should be 9001-50 = 8951. This is what I have in a different cluster running an older version.

## Current Behavior
Flanneld version 0.8 which is bundled with CoreOS 1520.6.0 is not detecting

[2017-10-18 11:29] sgarg1 commented on #841
We upgraded to the Alpha version `CoreOS 1562.1.0` with `Flannel 0.9` and the problem still persists.

[2017-10-18 12:51] jeffmhastings commented on #799
This seems related: https://github.com/containernetworking/plugins/pull/75

[2017-10-18 18:14] rakelkar commented on #833
containernetworking/plugins#77

[2017-10-18 18:14] rakelkar commented on #833
containernetworking/plugins#76

[2017-10-18 18:39] senwangrockets opened #844 "Pod cannot ping each other in multi-host scenario - failed to add vxlanRoute (XXX -> X.Y.0.0): invalid argument"
Pod from different host cannot ping each others.
Flannel logs as below:
[code]
## Your Environment

* Flannel version: 0.9
* Backend used (e.g. vxlan or udp): vxlan
* Etcd version:
* Kubernetes version (if used): 1.8
* Operating System and version: Centos 7.3 Docker 17.06

[2017-10-19 10:19] Dieken opened #846 "enable hairpinMode in flannel cfg"
Please merge https://github.com/coreos/tectonic-installer/pull/1640 into https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml,  thanks!

[2017-10-19 13:49] senwangrockets commented on #844
What I think is interesting is "
E1018 17:58:54.573780 1 vxlan_network.go:158] failed to add vxlanRoute (172.16.0.0/24 -> 172.16.0.0): invalid argument
"

[2017-10-20 09:31] marchuobi opened #847 "Flannel not using SubnetLen json key"
## Expected Behavior
"SubnetLen": 26 should make networks with a /26 bit net mask for kubernetes nodes

I had this behavior with flannel 0.8( k8s 1.7.5) and 0.9( k8s 1.8.1)

## Current Behavior
"SubnetLen": 26 appears to be ignored and I get the default /24 bit mask

## Your Environment

* Flannel version: 0.8 and 0.9, at different times and currently 0.9
* Backend used (e.g. vxlan or udp): vxlan

[2017-10-20 15:36] tomdee commented on #829
@trunet Thanks for the reply and clarification!

[2017-10-20 19:07] tomdee commented on #847
When using flannel with the kubernetes subnet manager (`--kube-subnet-mgr`), flannel will just use the `podCIDR` that's assigned to the node. See https://github.com/coreos/flannel/blob/master/Documentation/troubleshooting.md#kubernetes-specific

[2017-10-20 19:07] #847 closed

[2017-10-20 19:14] tomdee opened #848 "Configuration for kube subnet manager should be clearer."
Users get confused about this
* As shown in #847, the SubnetLen gets ignored. Also subnetMin and Max would be ignored too
* Also, the Network (https://github.com/coreos/flannel/blob/85662a7453fa14d11d53af9be6663847e0ae8f7a/Documentation/kube-flannel.yml#L65) in the netconf could do with better documentation as it must match the podCidrs that Kubernetes is using.

We could print a warning if config

[2017-10-20 19:16] tomdee commented on #846
If you submit a PR I can merge it?

[2017-10-20 19:22] tomdee commented on #844
Yes, that line is the smoking gun. What other nodes do you have? Can you output the flannel annotation you have on your nodes (something like `kubectl get nodes -o yaml  |grep flannel.alpha`).

Somehow, I think one of your nodes has a PublicIP of 172.16.0.0 which it shouldn't do. The 172.16/16 range should be reserved for the vxlan network.

[2017-10-20 19:39] tomdee commented on #841
@sgarg1 This is strange indeed. Could you share some of the output from flannel when it starts? You should see something like
[code]

This will confirm that it's actually choosing `eth0` as the external address.

You can also run `ip -d link show dev flannel.1` and check that you get the right device listed on the last line
[code]

[2017-10-20 19:41] tomdee commented on #841
Also, if I create a dummy device
[code]
And start flannel
[code]

Then I see the correct MTU
[code]

[2017-10-21 06:53] Dieken commented on #846
@tomdee   sure, https://github.com/coreos/flannel/pull/849

[2017-10-23 02:21] marchuobi commented on #848
Would it be possible to just put a comment in the kube-flannel.yml file saying this is ignored with a pointer to the correct doc page?  Everything I found via google said it worked this way, the troubleshooting page never came up in search.

[2017-10-23 02:21] marchuobi commented on #847
thanks for the help

[2017-10-23 12:25] piontec commented on #835
I can't really recreate the testing environment now, so also no `iptables-save`. But please note I did check iptables in the previous one:

So I'm pretty sure it's not iptables - I flushed everything manually. Can you give me a setup/config that is expected to work? Maybe I can recreate it and then verify again?

[2017-10-23 21:27] phagunbaya opened #851 "flannel plugin binary not getting created in kubernetes cluster"
I manually deleted the flannel binary from `/opt/cni/bin` after deleting the kubernetes cluster. On the same VM, I'm trying to setup kubernetes + flannel but flannel binary is not getting created in folder `/opt/cni/bin`.

## Expected Behavior
flannel binary should get created everytime daemonset is deployed

## Current Behavior
flannel container starts but kube-dns stays in containercreating mode

[2017-10-24 16:01] camflan commented on #844
I have a similar issue, same versions of flannel, k8s. Using vxlan, flannel is up and running, no errors in the logs (not even the error above).

I'm able to connect pod <-> pod and host <-> pod as long as the pods are on _that_ host. All hosts can communicate with each other without issues. I've spent almost a month fiddling with iptables, routes, etc and cannot figure this out. I'm seeing traffi

[2017-10-25 08:37] tadas-subonis opened #852 "[question] cni-conf.json configuration"
There is a ConfigMap:
[code]

What is cni-conf.json for? What is ""name": "cbr0"" used specifically for?

Thanks

[2017-10-25 13:56] tadas-subonis commented on #743
@ecsumed Did you find a solution for this?

[2017-10-25 17:14] tadas-subonis opened #853 "No connectivity between pods or services"
I've installed flannel using the kube-flannel.yml provided (with CIDR modification), but it's failing to provide networking between pods (I cannot ping pod IPs nor curl Service IPs). I can ping between pods that are on the same host.

Inside kube-flannel pods I can see errors:
[code]

It seems to use Service IP for the master node instead of an actual network IP.

## Your Environment

* Flannel ve

[2017-10-25 18:04] tadas-subonis commented on #853
Also, there is no cni0 interface on master node where one is present on the "worker" node.

[2017-10-25 20:11] tadas-subonis commented on #853
It looks like the issue was the option "--iptabales=false" on docker.service. After I've removed that, it started working properly.

[2017-10-26 10:44] cmingxu commented on #609
works for me,  should save my hours if saw this earlier, great!

[2017-10-26 18:05] roffe commented on #799
https://github.com/containernetworking/plugins/pull/75 originates from https://github.com/kubernetes/kubernetes/issues/40182 I belive

[2017-10-26 20:08] outworlder commented on #530
I can't believe it.

I have wasted more than one week on that too. More like a couple of months on and off.

I do not understand why this happens though. Can someone shed some light? By the way, I experienced it in GCE, with connections from K8s pods to a VM-based RMQ node.

[2017-10-27 03:26] jhorwit2 commented on #844
I'm running into the same issue it seems.

[code]

@tomdee none of my nodes have that as the public ip annotation (they're all correct).

[2017-10-27 03:31] jhorwit2 commented on #844
I don't see a route for `172.17.0.0/16` on any of my hosts.
[code]

[2017-10-27 13:08] spopoiu1 commented on #671
This link is not available : https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel-rbac.yml

[2017-10-27 14:44] DominicDV commented on #844
I had this error too when transitioning from 1.7.5 to 1.8.2.
A reboot solved this error for me.

[2017-10-27 14:48] jhorwit2 commented on #844
I'm on 1.8.2 and have reboot several times. I think my problem is related to overlapping cidr's on docker0 and flannel.1.

[2017-10-27 16:21] #846 closed

[2017-10-27 22:28] outworlder commented on #517
I have done that by using a variation of method 2. As in, change the Backend type in etcd, then stop and restart members. I guess it works either way, as long as the members are restarted after the change is applied.

Zero downtime for such a change is unlikely, but I'll defer to the experts.

[2017-10-28 15:55] igortin commented on #671
https://github.com/coreos/flannel/blob/master/Documentation/k8s-manifests/kube-flannel-rbac.yml

Отправлено с iPhone

[2017-10-31 15:16] tomdee commented on #530
Other than the machinezone article, I'm not aware of the interaction of this parameter with flannel. Flannel itself doesn't change the value an it doesn't document that it should be a different value.

Also, this parameter has been removed from recent kernels - https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=4396e46187ca5070219b81773c4e65088dac50cc

Some more backgrou

[2017-10-31 15:16] #530 closed

[2017-10-31 15:18] #671 closed

[2017-10-31 16:49] tomdee commented on #837
THe tests no longer display the logs

[2017-10-31 16:49] #837 closed

[2017-10-31 19:29] tomdee commented on #130
I think we can close this issue if we add a link to the tool

[2017-10-31 19:38] tomdee commented on #852
The docs are hard to find, sorry - https://github.com/containernetworking/plugins/tree/master/plugins/meta/flannel

Do they answer your question?

[2017-10-31 19:39] #853 closed

[2017-11-01 07:18] silenceshell opened #864 "Should flannel masquerade the source ip addr when packages are from outer net to flannel net?"
I want to find the real source ip addr in docker when the client is not on flannel net(for auditing), but flannel add a rule to iptables:

[code]
After SNAT, the source ip is changed to `.0` of flannel.1, so I can not get the real ip.

I found the issue #318 , which added the rule to flannel. However, I don't quite understand it. In my opion, if the docker has a default route which point to the cn

[2017-11-02 01:51] CharlesJQuarra opened #865 "glide dependencies fail to update"
## Expected Behavior
glide up should gather all dependencies to build flannel

## Current Behavior
[code]
## Possible Solution

## Steps to Reproduce (for bugs)
[code]

## Your Environment
* Flannel version:
master

* Backend used (e.g. vxlan or udp):
N/A

* Etcd version:
N/A

* Kubernetes version (if used):
[code]

* Operating System and version:
kubuntu 16.04.3

[2017-11-02 10:15] deimosfr commented on #743
@ecsumed have the same issue. Any solution ?

[2017-11-02 10:27] tadas-subonis commented on #743
@ecsumed I had a problem with this because iptables where disabled on Docker.

[2017-11-02 16:55] deimosfr commented on #743
I didn't have --iptables=false so it's not the problem. Any other idea ?

[2017-11-03 14:58] tomdee commented on #865
You need to set your GOPATH and put the project in the correct location in your GOPATH.

[2017-11-03 14:58] #865 closed

[2017-11-03 17:37] tomdee commented on #433
I think this problem was introduced in 0.5.4 and was fixed with https://github.com/coreos/flannel/pull/745 in v0.8.0

[2017-11-03 17:37] #433 closed

[2017-11-03 17:39] tomdee commented on #539
Hi @vinayk06, I can't work out what the problem is and this has been open for a long time so closing. If you're still having problems then get back in touch.

[2017-11-03 17:39] #539 closed

[2017-11-03 22:49] tomdee commented on #835
Hi @piontec your debugging seems pretty thorough but it still comes as a surprise. I've tried to reproduce this on Coreos container linux but I was unable to. I used both the UDP and vxlan backends.

I'm not really sure what to suggest. Maybe you can run tcpdump at a few different places to try to isolate where the mangling is happening (e.g. the bridge, the vxlan device and the physical ethernet

[2017-11-03 22:51] tomdee commented on #864
This behavior no longer occurs with flannel release 0.8.0 and later - https://github.com/coreos/flannel/pull/745

[2017-11-03 22:51] #864 closed

[2017-11-03 23:01] tomdee commented on #544
Closing this issue from a very old version of flannel

[2017-11-03 23:01] #544 closed

[2017-11-03 23:16] tomdee commented on #636
The vxlan code was significantly changed in the last couple of releases so I don't think this is till a problem.

[2017-11-03 23:16] #636 closed

[2017-11-03 23:17] tomdee commented on #653
A "legacy" manifest is now provided here https://github.com/coreos/flannel/blob/master/Documentation/k8s-manifests/kube-flannel-legacy.yml

[2017-11-03 23:17] #653 closed

[2017-11-03 23:31] tomdee commented on #664
@mrahbar I can't see the bug here, though the code did get changed a little here. The nodename _is_ populated from pod.spec.NodeName. If this is still a problem, please comment and I can reopen.

[2017-11-03 23:31] #664 closed

[2017-11-03 23:33] tomdee commented on #692
Hi @ganlaksh without a repro I can investigate or fix this issue. Are you still having a problem? If so let us know here and I can try to help.

[2017-11-03 23:33] #692 closed

[2017-11-03 23:35] tomdee commented on #699
Closing this stale support issue

[2017-11-03 23:35] #699 closed

[2017-11-03 23:38] tomdee commented on #753
Closing stale support issue. @yurchenkosv if you're still having problems let us know.

[2017-11-03 23:38] #753 closed

[2017-11-03 23:39] tomdee commented on #793
@zengbiao Did you manage to resolve this? Without more information I don't think I can help.

[2017-11-03 23:39] #793 closed

[2017-11-03 23:44] tomdee commented on #794
@simepo I can't reproduce this. Can you come up with a simple script (e.g. using
[code]
and
[code]

That demonstrates the problem?

[2017-11-03 23:44] #794 closed

[2017-11-03 23:44] #790 closed

[2017-11-03 23:46] tomdee commented on #795
@clchandan Can you try with the latest version of flannel? And can you post the log output from flanneld?

[2017-11-03 23:48] tomdee commented on #798
@vnalla It's probably best to try to solve this interactively. Try asking for help on the #coreos IRC channel on the #flannel channel on the Calico users slack (https://github.com/coreos/flannel#contact)

[2017-11-03 23:48] #798 closed

[2017-11-03 23:49] tomdee commented on #814
@szuecs Are you able to try with the latest flannel release? The vxlan has changed quite a bit since 0.7.0

[2017-11-03 23:50] tomdee commented on #819
This is now fixed

[2017-11-03 23:50] #819 closed

[2017-11-03 23:51] tomdee commented on #823
I'm leaving this open to track the `iptables -P FORWARD ACCEPT` park

[2017-11-03 23:52] tomdee commented on #825
Fixed by #860

[2017-11-03 23:56] tomdee commented on #831
I think this should be reported at https://issues.coreos.com as the flanneld.service isn't hosted in this repo

[2017-11-03 23:56] #831 closed

[2017-11-03 23:59] tomdee commented on #836
This is tracking the fact that iptables rules aren't deleted. Although originally rules were being deleted I no longer think this is desired behaviour. We want to leave the dataplane untouched when flanneld stops to facilitate upgrades. We should provide a cleanup command though.

[2017-11-04 00:04] tomdee commented on #844
@camflan please open a different issue. I suspect you just need "iptables -P FORWARD ACCEPT"

[2017-11-04 00:13] tomdee commented on #844
@jhorwit2 @senwangrockets I think the problem could be that you have the same IP range configured for your Docker bridge as you do for flannel. If you're using kubeadm, did you specify `--pod-network-cidr 10.244.0.0/16`

[2017-11-04 00:16] tomdee commented on #851
@phagunbaya This repo doesn't install the CNI plugin. You'll need to raise an issue with your distro that installs the CNI plugin

[2017-11-04 00:16] #851 closed

[2017-11-04 00:16] tomdee commented on #852
Please let me know if you need more info. Closing for now

[2017-11-04 00:16] #852 closed

[2017-11-04 00:21] tomdee commented on #848
Sounds sensible - PRs are of course welcome :smile:

[2017-11-04 01:45] jhorwit2 commented on #844
@tomdee that was my issue. Sorry I forgot to post after I realized that.

[2017-11-04 19:36] szuecs commented on #814
@tomdee we updated also production to version 0.9.0. It fixed our problem.

[2017-11-04 19:36] #814 closed

[2017-11-05 09:19] Dieken commented on #636
@tomdee

Thank you very much!!! That's so awesome!!! I just verified,  flanneld now injects permanet ARP table entry for each pod subnets of other nodes, so exit of flanneld won't affect the communicate among pods any more.

![image](https://user-images.githubusercontent.com/2365/32413497-3b63e4ec-c24d-11e7-8619-69f653f98944.png)

I have 8 nodes, the picture was captured from a node with pod subne

[2017-11-06 11:02] GheRivero commented on #799
I can confirm this issue with flannel 0.9.0 (both vxlan & host-gw), k8s 1.8.2, docker 17.05
Applying the iptables rules solves the problems.

[2017-11-07 23:38] iramsey85 opened #866 "Flannel install and kube-dns CrashloopBackOff Error"
My use case - Deploying Hypriot Kubernetes Pi cluster.

## Expected Behavior

I expect all services to be up and running with no issues

## Current Behavior

kubectl get po --all-namepaces
Namespace	Name		Ready	Running			Restarts
kube-system	kube-dns-xxxx	2/3	CrashLoopBackOff

## Possible Solution

i'm thinking a newer version may resolve the issue or maybe I am missing a configuration.

## Steps

[2017-11-07 23:43] cheyang opened #867 "The behavior of writing route table in v0.9.0 is strange"
Hello, I fount it’s interesting in route table when testing flannel v0.9.0 vxlan. When I set pod network as 172.28.0.0/16, I expect the route rule to add is ‘172.28.0.0/16 via 172.28.0.0 dev flannel.1 onlink’, but in fact I found it’s

[code]

4 routing rule is instead, it’s different from flannel v0.8.0.

[code]

So my question is if it’s a bug or work as design? And I really have concerns about

[2017-11-08 11:31] mikkeloscar commented on #841
I don't see anywhere in the vxlan backend that would actually change the MTU it just sets up the device which gets the default MTU of 1500 afaict.

@tomdee Did you use vxlan in the example above? I see that the udp backend as code for setting the MTU, maybe this is used?

Whether it makes sense to change the MTU when using vxlan I don't know?

[2017-11-09 07:03] silenceshell opened #869 "flannel.1 is deleted by `service network restart`, and never recreated again."
`flannel.1` is deleted by `service network restart`, and never recreated again.

## Expected Behavior

Hope that if the `flannel.1` interface is deleted, `flanneld` can recreated it.

## Current Behavior

We have met a problem recently: someone else executed `service network restart` on a node of kubernetes cluster, and found that the `flannel.1` interface has been deleted, so containers on this n

[2017-11-09 15:49] rawroland opened #870 "The file kube-flannel-rbac.yml is not available in the repository but is still referenced"
## Expected Behavior

The documentation on the page [troubleshooting](https://github.com/coreos/flannel/blob/master/Documentation/troubleshooting.md) should be updated to reflect the absence of said files.

## Current Behavior

The documentation currently references the non-existent kube-flannel-rbac.yml file, which was removed in version 0.9.0.

## Possible Solution

Update the documentation on t

[2017-11-09 21:12] tomdee commented on #841
@mikkeloscar Yes I was using vxlan. I 'm pretty sure that the correct MTU is automatically set by linux (to the "host" interface -20)

[2017-11-09 21:13] tomdee commented on #867
@cheyang Yes, this is a change is was one of the main features of v0.9.0, so it is by design and not a bug that you see those routes. What is your concern about the routing performance?

[2017-11-09 22:32] mikkeloscar commented on #841
We run 100s of Container Linux stable nodes on AWS and we see the same 1500 MTU value for all interfaces (except eth0 which is 9001). If I change the default MTU with a `/etc/systemd/network/99-default.link` file then I get that instead of 1500 but not -20.

This is our node configuration fwiw: https://github.com/zalando-incubator/kubernetes-on-aws/blob/dev/cluster/userdata-worker.yaml

[2017-11-10 00:22] tomdee commented on #841
Does this resolve to an IP address on an interface that has the 9000 MTU?

[2017-11-10 00:28] acomisario commented on #853
@tadas-subonis hi! im interested on knowing how did you deployed that, can you clarify me this ?

1. are you using CNI with flannel plugin on the kubelet service configuration ?
2. after that, you are deploying the kube-flannel.yml so that it provides what cni needs ?
3. docker is configured as is ? (since i see you removed --iptables=false that is not the default)
4. so on you workers you have a

[2017-11-10 01:20] acomisario commented on #823
news?

[2017-11-10 01:59] #825 closed

[2017-11-10 03:44] acomisario opened #871 "Kubernetes NodePort connection only working on node running the pod, cross worker/pod connectivity not working also"
We have deployed kubernetes from scratch to understand how it works (no automation tool used like kubeadm)

## Expected Behavior
When a NodePort service is exposed on a pod (eg. TCP/31201) you should be able to get a response on the same por from any worker, also it is expected that cross pod communication works.

## Current Behavior
In this case, only the worker running the pod is responding (tim

[2017-11-10 06:53] slawekgh commented on #823
still (sometimes) have to use "iptables -P FORWARD ACCEPT"
no more additional info

[2017-11-10 07:30] mikkeloscar commented on #841
I'm sorry, I don't fully understand what you mean? Do you mean if flannel uses the eth0 interface? It always does, example from one flannel log:

[code]

And the interfaces on this host:

[code]

[code]

[2017-11-10 09:34] cheyang commented on #867
Is it introduced by [backend/vxlan: simplify vxlan processing](https://github.com/coreos/flannel/pull/785/files#diff-2fcdad83a560522bb17d06e480b6ed76R17)?

I'm wondering why we need change one routing rule (172.28.0.0/16 dev flannel.1, which is using subnet 16)into so many rules (172.28.2.0/24 via 172.28.2.0 dev flannel.1 onlink, which are using subnet 24). There will be more rules in the routing

[2017-11-10 14:23] tommyknows commented on #712
Hi,
I tried to apply your patch - i took the standard daemon-set, replaced the docker image with one from `quay.io/coreos/flannel-git` and set the node annotations with
`kubectl annotate node $name flannel.alpha.coreos.com/public-ip-overwrite=$IP`

Your fix works - it sets `flannel.alpha.coreos.com/public-ip` to the IP I provided.
However, when checking the flannel logs:
[code]
Flannel still defau

[2017-11-10 14:37] alvaroaleman commented on #712
Uhm. I guess only the logging is wrong there. Did you try if you can reach pods that are placed on the node you annotated?

[2017-11-10 15:39] tommyknows commented on #712
You're right - it's just the log. It didn't work right after that because I had to add some iptables rules to the host system. Thank you!

[2017-11-10 19:31] acomisario commented on #871
i will close the ticket, the issue was with the VXLAN tunnels, im using AWS for the environment, and i only alowed all TCP between nodes, not UDP, so communication between workers using VXLAN was not working.

After updating the secgroup, everything is working as expected.

[2017-11-10 19:31] #871 closed

[2017-11-10 22:11] tomdee commented on #712
Reopening until we have a separate issue to track the logging bug

[2017-11-12 19:01] antek-drzewiecki commented on #866
+1

[2017-11-13 12:58] Termits13 opened #874 "g"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Flannel version:
* Backend used (e.g. vxlan or udp):
* Etcd version:
* Kubernetes version (if used):
* Operating System and version:
* Link to your project (optional):

[2017-11-13 13:33] alianos- opened #875 "Failed to acquire lease: out of subnets. Best way around it?"
Hi,
We seem to be hitting the above error because we burn through amazon spot instances too fast. From what we could tell we had about 200 dead subnets that flannel could not claim, and their TTL still had ~10h left.

What do you think would be the best way around that? Can we reduce the TLL of the subnet lease maybe?

[2017-11-13 20:12] #874 closed

[2017-11-14 01:10] jethrogb opened #877 "Flannel VXLAN device not recreated when master device reappears"
## Expected Behavior
Flannel should watch for changes on the master device and recreate the flannel device when appropriate.

## Current Behavior
When the flannel VXLAN device's master device disappears, the VXLAN device is automatically removed. If the master devices later reappears, the flannel device doesn't automatically come back up.

## Steps to Reproduce (for bugs)
The master device can dis

[2017-11-14 01:16] jethrogb commented on #877
Similar to #869

[2017-11-14 13:16] gnodli opened #878 "master node flannel.1 state DOWN, can't bind inet"
when i reboot the master node and the other node ,use `ip a` ,
in master node ,it shows:
[code]
in other node, it shows:
[code]
## Expected Behavior

## Current Behavior

[code]
but there is no inet

the flannel pods show :
[code]

## Possible Solution

## Steps to Reproduce (for bugs)

Install k8s cluster v1.7.5 using kubeadm with CNI and flannel plugin.

## Context

## Your Environment

* Flanne

[2017-11-15 09:01] ecsumed commented on #743
@tadas-subonis @deimosfr Nope. I retried the guide multiple times and made sure I ran it down to the dot. After about a week I moved on to [kubespray](https://github.com/kubernetes-incubator/kubespray) which worked without any hitch.

I can't recall if I tried removing `iptables=false`, but good to know.

[2017-11-15 09:07] tadas-subonis commented on #853
@acomisario

Basically, I was configuring a manual deployment using ansible.

1. Yes
2. Yes
3. Not really, here is the config:
[code]
4. There is one worker and it has all the mentioned interfaces. The master node is/was missing flannel.1.

Basically, I was configuring a manual deployment using ansible.

[2017-11-16 02:49] camflan commented on #823
I've run `iptables -P FORWARD ACCEPT` on all nodes and pods still can't communicate across hosts. One of the effects of this is that I can't get cluster DNS working (they can't reach the dns pods)

[2017-11-16 15:01] tomdee commented on #878
@gnodli Do you have logs from the master?

[2017-11-16 15:03] #609 closed

[2017-11-16 15:03] #799 closed

[2017-11-16 15:03] #823 closed

[2017-11-16 15:03] #834 closed

[2017-11-16 17:55] camflan commented on #823
I changed to Canal 1.7.0 while using the same terraform scripts for a cluster and now all pods can communicate across hosts without issue.

Any ideas why this would be?

[2017-11-16 17:56] vincentbernat commented on #867
With one routing rule to a directly attached interface, you'll generate L2MISS events that need to be handled. From my understanding, the goal was to remove any netlink events as the key/value store already told us all the info we need beforehand. Requests for unknown subnets won't trigger a lookup, a scan of the subnet won't trigger a lot of load on the key/value store and the latency of first pa

[2017-11-16 20:11] #867 closed

[2017-11-17 11:42] mohammadobaid1 opened #881 "Flannel overlay network issue"
Basically I am creating blockchain network on three ubuntu servers on aws and and on these servers some docker containers are running. Flannel network is created so that dockers container between those hosts can communicate . but it seems like flannel is unable to create overlay network properly because containers need to communicate each other for data transfer and I am unable to do that. Everyth

[2017-11-17 11:43] Jnig opened #882 "Improvement: Change version kube-flannel.yml"
Hi everyone,

thank you for fixing the docker iptables rules in flannel 0.9.1. Just tested it and it works like a charm

It would be nice if https://raw.githubusercontent.com/coreos/flannel/v0.9.1/Documentation/kube-flannel.yml also references the new container image 0.9.1

## Expected Behavior
kube-flannel.yml should reference the image version 0.9.1

## Current Behavior
currently 0.9.0 is refere

[2017-11-17 15:50] alapidas commented on #554
@tomdee Would there be interest in accepting a contribution that added this feature?

[2017-11-17 20:41] dimhoLt commented on #640
@danehans Could you elaborate on the network issue? I'm having problems creating the second EC2 instance. I'm using `kube-aws`, but if I have more than one `etcd`, the first one will create successfully and the second one will fail, similarly to yours. If I have only one `etcd` instance, the first controller will fail to create.

[2017-11-17 21:50] danehans commented on #640
@dimhoLt I'm sorry, but I can't recall the details of my network issue.

[2017-11-18 02:10] outcoldman commented on #882
ping @tomdee

[2017-11-18 02:14] cheyang commented on #867
Thanks.

[2017-11-18 09:45] mohammadobaid1 commented on #881
Fix this issue by modifying iptables in ubuntu servers . Seems like firewall blocking data packet to transfer from flannel interface to docker interface

[2017-11-18 09:45] #881 closed

[2017-11-18 13:40] tiayi commented on #866
I have got the same issue.
Because the dns container cannot access the apiserver, other hosts, internet, any clusterIP , they just can access the host IP and other conainers (can crosss host).

I tried to debug them.
 Container A(10.200.0.180) runs on host (172.21.1.123),  then ping another host(172..21.1.122),
tcpdmp on eth0,    can see 10.200.0.180 > 172.21.1.122  , but no response.

There is an

[2017-11-19 03:24] tiayi commented on #866
I find the real reason , I used an error config.

--service-cluster-ip-range (apiserver) ,  --service-cluster-ip-range (controller-manager)  and  the config of flannel configmap (net-conf.json: netowrk) should be same..

[2017-11-20 04:39] d11wtq opened #883 "flannel.1 link gets 2 ipv4 addresses on secondary nodes"
Using `kubeadm` and kubernetes 1.8.3 to provision a 3 node cluster on HypriotOS (ARM), I can initialize the master fine, but when joining nodes into the cluster, `kube-flannel` crashes on each node with:

[code]

When I run `ip addr` I can see that `flannel.1` has been given two different IPs, each a /24 apart from each other.

[code]

I haven't manually added these addresses, they just appear aut

[2017-11-20 04:40] d11wtq commented on #883
Thoughts: is it possible flannel attempts to allocate a single IP, which works, but flannel believes it failed, so it attempts to allocate the IP again, which results in the two addresses?